.about-us {
    margin: 32px auto;

    &__heading {
        margin-bottom: 60px;
    }
}

.about-us__content {
    margin-bottom: 0;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include from(l) {
            flex-direction: row;
            justify-content: space-between;
    
            &:nth-child(2) {
                flex-direction: row-reverse;
            }
        }

        &__mobileButton {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 24px;

            @include from(l) {
                display: none;
            }
        }
    }
}

.about-us__content__section {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;

    @include from(l) {
        align-items: flex-start;
    }

    &--text {
        color: $first-color;
        font-size: $font-size-base;
        font-weight: medium;
        font-family: $secondary-font-noto;
        max-width: 650px;
        margin-bottom: 30px;
    }

    &--img {
        width: 300px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;

        @include from(l) {
            width: 400px;
        }
    }

    &--anchor {
        display: none;

        @include from(l) {
            display: flex;
        }
    }
}