.class-casino {

    &__text {
        margin-left: auto;
        margin-right: auto;
        color: $first-color;
        font-size: $font-size-base;
        font-family: $secondary-font-noto;
        margin-bottom: 32px;
    }

    &__button {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
    }
}

.class-casino__content {

    &-info {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        align-items: center;
        background-color: $seventh-color;
        padding: 11px 20px;
        margin-bottom: 24px;
        border-radius: 13px;
        flex: 1;

        img {
            max-width: 100%;
            width: 50px;
            margin-right: 44px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
    }

    &__title {
       font-family: $secondary-font-noto;
       font-size: 16px;
       color: $first-color;
       text-transform: capitalize;
    }

    &__paragraph {
        font-size: 13px;
        color: $first-color;
    }
}

.class-casino__content__hover {
    border: 1px solid red;
    position: relative;
	width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}


.class-casino__content__hover__info {
	position: absolute;
	top: 50%;
	border-radius: 8px;
	background-color: $fourth-color;
	left: 0%;
	width: 100%;
	height: 0px;
	opacity: 0;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	flex-direction: column;
    justify-content: center;
	padding: 8px 24px;
	text-align: center;
    color: $first-color;
    
	&_heading {
		font-size: $font-banner-big;
		margin-bottom: 8px;
		text-transform: uppercase;
        max-width: 400px;
        font-family: $primary-font-motion;
	}

	&_text {
		font-size: $font-banner-small;
		max-width: 245px;
		line-height: 24px;
        font-family: $primary-font-motion;
	}
}

.class-casino__content__hover:hover .class-casino__content__hover__info {
	@include from(l) {
		opacity: 1;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
}