@import "top-nav";
@import "main-menu";
@import "login-buttons";
@import "tns-slider-global";
@import "tns-single";
@import "promotions";
@import "payment-slider";
@import "log-in";
@import "footer";
@import "casino-en-vivo";
@import "button-register";
@import "tables";
/* @import "horses-tabs"; */
@import "horses";
@import "discounts";
@import "info-politics";
@import "accordion-component";
@import "help";
@import "parlay-calculator";

// ABC components
@import "buttons";
@import "sports-markets";
@import "class-casino";
@import "slider-games";
@import "hero-component";
@import "casino-banner";
@import "info-component";
@import "casino-games";
@import "create-account-banner";
@import "about-us";
@import "menu-fixed";
@import "horses-rebate";
@import "horses-track-listing";
@import "horse-tracks";
@import "sport-rules";
@import "poker-rules-component";
@import "casino-rules-component";
@import "general-terms";
@import "acc-pay-bon-component";
@import "banking-tabs";
@import "promotions-banner";
@import "bonus-banner";
@import "reload-banner";
@import "contest-banner";
@import "handicap-component";
@import "current-contests";
@import "previous-contests";
@import "horse-rules-table";
@import "current-banner";



