.account-banner {
    background-image: url(/assets/img/account-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__heading {
        padding-top: 42px;
        margin-bottom: 32px;
    }

    &__button {
        margin-bottom: 48px;
    }
}

.account-banner__info {

    width: 100%;
    height: auto;

    @include from(l){
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @include from(l) {
            width: 50%;
            align-items: flex-start;
        }
    }

    &__img {
        //margin-bottom: 12px;
        width: 100%;

        @include from(l){
            max-width: 650px;
            width: 50%;
            //margin-bottom: 12px;
        }
    }

    &__text {
        color: $first-color;
        font-size: 16px;
        font-family: $secondary-font-noto;
        text-align: center;
        margin-bottom: 18px;
    }
}


.account-banner__steps {
    width: 100%;

    &__item {
        display: flex;
        background-color: $seventh-color;
        height: 80px;
        align-items: center;
        padding: 8px 16px;
        border-radius: 13px;
        margin-bottom: 16px;

        @include from(l) {
            max-width: 650px;
        }

        &--number {
            color: $first-color;
            font-family: $primary-font-motion;
            font-size: $font-banner-big;
            margin-right: 16px;
            margin-bottom: 0;
            font-weight: bold;
        }

        &--text {
            color: $first-color;
            font-family: $secondary-font-noto;
            font-size: $font-size-base;
            margin: 0;

            @include from(l) {
                font-size: $font-banner-tiny;
            }
        }
    }
}