.footer {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: $sixth-color;
	padding-top: 64px;

	@include from(l) {
		padding-top: 48px;
	}
}

.footer__content {

	&__header {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid $fourth-color;
		padding-bottom: 32px;
		margin-bottom: 16px;

		&-logo {
			width: 155px;
			max-width: 100%;
		}
	}

	&__social {
		display: flex;
		align-items: center;

		&-curacao {
			width: 62px;
			margin-right: 24px;

			@include from(l) {
				width: 100px;
				margin-right: 60px;
			}
		}

		&-twitter {
			width: 48px;

			@include from(l) {
				width: 48px;
			}
		}
	}
}


.footer__nav {
	margin-bottom: 60px;

	@include from(l) {
		margin-bottom: 48px;
	}

	&__section {
		margin-bottom: 7px;
	}

	&__heading {
		margin: 0;
		font-family: $secondary-font-noto;
		margin-bottom: 5px;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
	}

	&__list {
		padding: 0;
		list-style: none;

		&-item {
			color: $ninth-color;
			font-size: $font-size-smaller;
			text-transform: uppercase;

			a:hover {
				color: $fourth-color;
			}
		}
	}
}

.footer__rights {
	width: 100%;
	background-color: $seventh-color;
	padding: 42px 24px;
	margin-bottom: 65px;

	@include from(l) {
		margin-bottom: 0;
	}

	&__text {
		margin: 0;
		font-size: $font-size-base;
		font-family: $secondary-font-noto;
		color: $fifth-color;
		text-align: center;
	}
}


