.hero-component {
	width: 100%;
	height: 504px;
	background-image: url("../../assets/img/home-slider-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;

	@include from(l) {
		margin-top: 55px;
	}
}

.hero-component__first__img {
	width: 205px;
	margin-left: auto;
	margin-right: auto;

	@include from(m) {
		width: 312px;
	}

	@include from(l) {
		width: 472px;
	}
}

.hero-component__content {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;

	@include from(m) {
		align-items: flex-start;
	}
}

.hero-component__first-info {
	color: $first-color;
	font-size: 16px;
	display: flex;
	flex-direction: column;

	&--title {
		color: $first-color;
		font-size: 64px;
		text-align: center;
		margin-bottom: 14px;
		text-transform: uppercase;
		font-weight: bold;
		font-family: $primary-font-motion;

		@include from(m) {
			margin-bottom: 10px;
		}

		@include from(l) {
			font-size: 96px;
			margin-bottom: 0;
			text-align: start;
		}
	}

	&--text {
		text-align: center;
		line-height: 25px;
		font-family: $secondary-font-noto;
		font-size: 18px;
		margin-bottom: 12px;

		@include from(m) {
			width: 80%;
			font-size: 20px;
			text-align: start;
			margin-bottom: 17px;
		}

		@include from(l) {
			font-size: 24px;
			margin-bottom: 28px;
		}
	}
}
