.house-rules__table {
  border:1px solid #8D99AE;
  border-collapse:collapse;
  padding: 5px;
  width: 100%;

  th {
    border: 1px solid #8D99AE;
    padding: 5px;
    background:#B61827;
    color: $first-color;
  }

  td {
    border: 1px solid #8D99AE;
    padding: 5px;
    background:#212428;
    color: $first-color;
  }

  td:first-child() {
    text-align: center;
  }
}
