.info-component {
    padding: 36px 0;

    &__paragraph {
        color: $first-color;
        font-size: $font-size-base;
        font-family: $secondary-font-noto;
        margin-bottom: 24px;
    }
}