/* Modal CSS */
.log-in__wrapper {
	display: flex;
	max-width: 1320px;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	justify-content: space-between;
	background-image: url("../../assets/img/img-user-login-abc-background.jpg");

	@media only screen and (min-device-width: 0px) and (max-device-width: 960px) and (-webkit-min-device-pixel-ratio: 2) {
		margin-top: -80px;
	}

	@include from(l) {
		background-position: center;
		margin-top: 75px;
		border-radius: 20px;
	}

	&__img {
		display: flex;
		flex-direction: column;
		justify-content: end;

		img {
			display: none;
	
			@include from(l) {
				display: block;
				max-width: 843px;
				width: 100%;
				//position: absolute;
				bottom: 0;
				z-index: 1;
			}
		}
	}
}

.log-in {

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $bg-login-color;
		font-family: $secondary-font-noto;
		justify-content: flex-start;
		margin: 32px 16px;
		border-radius: 8px;
		z-index: 2;
		width: 100%;
		
		@include from(l) {
			width: 464px;
			margin: 0;
			border-radius: 0 18px 18px 0;
		}
	}

	&__img {
		width: 152px;
		margin-bottom: 24px;
		margin-top: 32px;
	}

	&__title {
		color: $first-color;
		background-color: $fourth-color;
		display: flex;
		justify-content: center;
		height: 64px;
		width: 100%;
		font-size: 24px;
		text-align: center;
		align-items: center;
		max-width: 100%;
		margin-bottom: 40px;

		@include from(l) {
			height: 105px;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		color: $first-color;
		width: 100%;
		max-width: 328px;
		padding: 0 20px;

		input {
			height: 48px;
			border-radius: 8px;
			border: none;
			margin-top: 6px;
			color: $ninth-color;
			padding-left: 24px;
		}

		@include from(l) {
			padding: 0;
		}
	}

	&__email {
		display: flex;
		flex-direction: column;
		margin-bottom: 11px;
	}

	&__password {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}

	&__btn {
		padding: 14px 16px;
		background-color: $sixteenth-color;
		color: $first-color;
		text-transform: uppercase;
		font-weight: 600;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		font-family: $secondary-font-noto;

		&:hover {
			background-color: $fifth-color;
		}
	}

	&__remember {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		color: $first-color;
		margin-bottom: 10px;
		font-size: 14px;

		@include from(l) {
			margin-bottom: 29px;
		}

		&__checked {
			display: flex;
			align-items: center;
			color: $first-color;
			margin: 0;

			input {
				margin-top: 0;
				margin-right: 8px;
			}
		}
	}

	&__forgotpass {
		color: $ninth-color;
	}

	&__create {
		color: $ninth-color;
		font-size: 14px;
		margin-bottom: 16px;

		@include from(l){
			margin-bottom: 29px;
		}
	}

	&__copy {
		padding-top: 20px;
		color: $twenth-color;
		font-size: 16px;
		border-top: 1px solid $twenth-color;
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: 54px;
	}
}
