.login {
	display: flex;
	align-items: center;
	height: auto;
	margin-right: 15px;

	@include from(l) {
		margin-right: 0;
	}
}

.login-btn {
	background-color: $fourth-color;
	border: none;
	padding: 4px 12px;
	border-radius: 19px;
	color: #F8F9FA;
	font-weight: 400;
	text-transform: uppercase;
	margin-right: 8px;
	font-size: 13px;

	@include from(l) {
		margin-right: 8px;
	}

	&:hover {
		background-color: $fourth-hover-color;
		transition: linear 0.1s;
	}
}

.sign-btn {
	background-color: $sixteenth-color;
	border: none;
	padding: 4px 17px;
	border-radius: 19px;
	color: $sixth-color;
	font-weight: bolder;
	font-size: 13px;
	text-transform: uppercase;

	&:hover {
		background-color: $sixteenth-hover-color;
		transition: linear 0.1s;
	}
}
