.poker-rules {

	&__heading {
		margin-bottom: 26px;
		text-transform: uppercase
	}
}

.poker-rules {
	color: $first-color;
	font-family: $secondary-font-noto;

	&__related {
		padding: 20px;
		background-color: $seventh-color;
		margin-bottom: 25px;
		border-radius: 8px;

		&__heading {
			font-size: 16px;
			color: $ninth-color;
			font-weight: bold;
			text-transform: uppercase;
		}

		&__list {
			padding: 0 16px;
		}
	}

	&__events {
		background-color: $seventh-color;
		padding: 20px;
		border-radius: 8px;
		margin-bottom: 48px;

		&__heading {
			font-size: 16px;
			color: $ninth-color;
			font-weight: bold;
			text-transform: uppercase;
		}

		&__list {
			padding: 0 16px;
		}
	}
}