.promotions {
	max-width: 1320px;
	margin-left: auto;
	margin-right: auto;

	&-container {
		margin-bottom: 22px;

		&__title {
			color: $first-color;
			display: inline-block;
			margin-bottom: 26px;
			margin-left: auto;
			margin-right: auto;

			@include from(lg) {
				margin-left: unset;
				margin-right: unset;
			}
		}

		&__btn {
			display: none;
		
			@include from(lg) {
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
		}
	}
}

.promotions-content {
	margin-bottom: 0;

	@include from(lg) {
		margin-bottom: 24px;
	}
}

.promotions-content__cards {
  display: flex;
  background-color: $seventh-color;
  align-items: center;
  justify-content: start;
  padding: 9px 18px;
  border-radius: 12px;
  height: 92px;
  margin-bottom: 0;

  &--img {
		max-width: 100%;
		margin-right: 37px;

		img {
			width: 50px;
		}
  }

  &--title {
	font-family: $primary-font-motion;
	text-transform: uppercase;
	color: $first-color;
	width: 200px;
	margin: 0;
	font-size: 32px;
	line-height: 30px;
	font-weight: bold;
  }
}
