/* Modal CSS */
.modal-container {
	max-width: 1320px;
	margin: 0 auto;
}

.modal-content__picture {
	img {
		display: none;

		@include from(l) {
			display: block;
			max-width: 843px;
			width: 100%;
			position: absolute;
			bottom: 0;
			z-index: 1;
		}
	}
}

.modal-sign-in {
	background-image: url("../../assets/img/img-user-login-abc-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	margin-left: auto;
	margin-right: auto;
	border-radius: 18px;

	@include from(l) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 100%;
		background-position: center;
	}
}


.modal-dialog {
	
	@include from(l) {
		height: 833px;
		border-radius: 18px;
	}
}

.modal-header {
	border-bottom: none;
	width: 100%;
	margin-bottom: 24px;
	padding: 15px;

	@include from(l) {
		margin-bottom: 70px;
	}
}

.sign-in {

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $bg-login-color;
		font-family: $secondary-font-noto;
		justify-content: flex-start;
		margin: 32px 16px;
		border-radius: 8px;
		z-index: 2;
		
		@include from(l) {
			width: 464px;
			margin: 0;
			border-radius: 0 18px 18px 0;
		}
	}

	&__img {
		width: 152px;
		margin-bottom: 24px;
	}

	&__title {
		color: $first-color;
		background-color: $fourth-color;
		display: flex;
		justify-content: center;
		height: 64px;
		width: 100%;
		font-size: 24px;
		text-align: center;
		align-items: center;
		max-width: 100%;
		margin-bottom: 40px;

		@include from(l) {
			height: 105px;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		color: $first-color;
		width: 100%;
		max-width: 328px;
		padding: 0 20px;

		input {
			height: 48px;
			border-radius: 8px;
			border: none;
			margin-top: 6px;
			color: #c4c4c4;
		}

		@include from(l) {
			padding: 0;
		}
	}

	&__email {
		display: flex;
		flex-direction: column;
		margin-bottom: 11px;
	}

	&__password {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}

	&__btn {
		padding: 8px 16px;
		background-color: $sixteenth-color;
		color: $first-color;
		font-weight: 400;
		border: none;
		border-radius: 8px;
		cursor: pointer;

		&:hover {
			background-color: $fifth-color;
		}
	}

	&__remember {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		color: $first-color;
		margin-bottom: 52px;

		&__check {
			display: flex;
			align-items: center;

			input {
				margin-top: 0;
				margin-right: 8px;
			}

			label {
				font-size: 14px;
			}
		}
	}

	&__forgot {
		color: $ninth-color;
		font-size: 14px;
	}

	&__create {
		color: $ninth-color;
		font-size: 14px;
	}

	&__copy {
		padding-top: 20px;
		color: $twenth-color;
		font-size: 16px;
		border-top: 1px solid $twenth-color;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}
