.slider-games__container {
    background-color: $seventh-color;
    padding-top: 40px;
}

.slider-games {

    &__content {
        display: flex;
        width: 100%;
    }
}

.slider-games__card {
    position: relative;
    width: 135px;
    height: 135px;
    margin-right: 10px;
    margin-bottom: 32px;

    @include from(l) {
        width: 425px;
        height: 195px;
    }

    img {
        position: absolute;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.slider-games__card__info {
    position: absolute;
    bottom: 8px;
    padding: 0 8px;
    color: $first-color;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;

    @include from(l) {
        text-align: start;
        top: 70px;
        line-height: 30px;
        margin-left: 24px;
    }

    &_title{
        margin-bottom: 0;
        font-size: $font-banner-small;
        font-family: $primary-font-motion;
        line-height: 25px;
        
        @include from(l) {
            font-size: $font-banner-big;
        }
    }

    &_subtitle {
        font-size: $font-size-base;
        font-family: $secondary-font-noto;
    }
}