.sports {
	background-image: url(/assets/img/sport-markets-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	padding-top: 40px;
	margin-bottom: 40px;
}

.sports-container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	font-size: 2.5rem;

	&__text {
		font-size: 16px;
		color: $first-color;
		text-align: center;
		margin-bottom: 28px;
	}

	&__button {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 48px;
	}
}

.sports-cards {
	display: flex;
	flex-direction: row;
	color: $first-color;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 26px;
}

.sports-cards__card {
	position: relative;
	width: 135px;
	height: 135px;
	margin-right: 10px;

	@include from(l) {
		width: 295px;
		height: 295px;
		margin-right: 16px;
	}
}

.sports-cards__card__info {
	width: 100%;
	height: 295px;

	&_img {
		position: absolute;
	}

	&_title {
		position: absolute;
		bottom: 8px;
		left: 0;
		right: 0;
		text-align: center;
		margin-bottom: 0;
		font-size: $font-banner-small;
		font-family: $primary-font-motion;
		text-transform: uppercase;
		line-height: 40px;

		@include from(l) {
			font-size: $font-banner-big;
			bottom: 16px;
		}
	}
}

.sports-cards__card__hover {
	position: absolute;
	top: 50%;
	border-radius: 8px;
	background-color: $fourth-color;
	left: 0%;
	width: 100%;
	height: 0px;
	opacity: 0;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 8px 24px;
	text-align: center;

	&_heading {
		font-family: $primary-font-motion;
		font-size: $font-banner-big;
		margin-bottom: 8px;
		text-transform: uppercase;
	}

	&_text {
		font-size: $font-size-base;
		font-family: $secondary-font-noto;
		max-width: 245px;
		line-height: 24px;
	}

	&_anchor {
		position: absolute;
		bottom: 24px;
		padding: 9px 32px;
		font-family: $secondary-font-noto;
		font-size: $font-size-base;
		text-transform: uppercase;
		background-color: $seventh-color;
		border-radius: 19px;
	}
}

.sports-cards__card:hover .sports-cards__card__hover {
	@include from(l) {
		opacity: 1;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 295px;
	}
}
