.top-nav{
	background    	: $second-color;
	position      	: fixed;
	top           	: 0;
	width         	: 100%;
	left          	: 0;
	display 				: flex;
	flex-direction	: column;
	justify-content : center;
	align-items			: center;
	z-index					: 5;

	@media only screen and (min-device-width: 0px) and (max-device-width: 960px) and (-webkit-min-device-pixel-ratio: 2) {
		display: none;
	}

	&__mobile {
		position: fixed;
		top: 15px;
		width: 105px;
		background-image: linear-gradient(to right bottom, #b61827, #941047, #652151, #372546, #1b1d29);
		z-index: 4;
		padding: 6px 16px 6px 20px;
		border-radius: 0 6px 6px 0;

		@include from(l) {
			display: none;
		}
	}

	&__container{
		display 				: flex;
		justify-content : space-between;
		align-items			: center;
		height        	: var(--header-height);
		width						: 100%;
		padding					: 0 16px;
	}
	&__link{
		align-self: center;
	}
	&__logo{
		height: 25px;
		width: auto;
		display: block;
	}
	&__title{
		display: none;
		color: $first-color;
		text-transform: uppercase;
		margin: 0;
		border-bottom: 1px inset $fourth-color;
		padding-bottom: 4.5px;
		

		@include from(l) {
			display: inline-block;
		}
	}
	&__menu{
		display					: flex;
		flex-direction  : column;
		align-items			: center;
		position 				: fixed;
		padding 				: 0 10px;
		height 					: 100vh;
		width 					: 100%;
		background 			: $second-color;
		transition 			: right .5s;
		overflow-y			: scroll;
		top 						: var(--header-height);
		right 					: -100%;
		&.show-top-nav {
			right 		: 0;
		}
	}

	&__menu-list {
		display			: flex;
		flex-direction	: column;
		align-items		: center;
		padding: 0;
	}

	&__menu-link {
		color: $first-color;
		display: flex;
		padding: 18px 0;
		margin: 0;
		margin-left: 1em;
		list-style-type: none;
		text-decoration: none;
		flex-direction: row;

		img {
			margin-right: 10px;
		}
	}
	
	&__anchor{
		color: $first-color;
		display: flex;
		flex-direction: row;
		font-weight: 600;
		align-items: center;
	}

	&__mb-iconMenu {
		position: relative;
		align-self: center;
		top: 3px;
		padding: 0;

		@include from(l) {
			display: none;
		}

		span{
			&.hamburger-inner{
				background: $first-color;
				&::after{}
				&::before{}
				&::after, &::before{
					background: $first-color;
				}
				&:active {
					background-color: $first-color;
				}
			}
		}
		&:focus {
			outline: 0 !important;
			-moz-outline-style: none !important;
			outline: thin dotted;
			outline: 5px auto -webkit-focus-ring-color;
			outline-offset: -2px;
		}
	}

	&__social {

		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 24px;

		&__img {
			width: 33px;
			margin-bottom: 8px;
		}

		&__text {
			margin-bottom: 0;
			font-family: $secondary-font-noto;
			font-size: 16px;
			color: $first-color;
		}
	}
}

.top-nav__desktop {
	background-color: $seventh-color;
	opacity: 93;
	width: 100%;
	display: none;
	height: 56px;

	@include from(l) {
		display: block;
		padding: 0 15px;
	}
}

.top-nav__desktop-list {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1320px;
	padding: 0;
	margin-bottom: 0;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}

.top-nav__desktop-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 18px;
	padding-top: 14px;
	box-sizing: border-box;
	position: relative;

/* 	&:hover {
		border-bottom: 1px solid $fourth-color;
		box-sizing: border-box;
	} */

	.rotate-center {
		margin-right: 8px;

		/* svg {
			background-color: red;
		} */
	}

	/* 	svg {
			background-color: green;
		} */
}

@-webkit-keyframes rotate-center {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
  }
	100% {
		-webkit-transform: rotate(360deg);
						transform: rotate(360deg);
	}
}

@keyframes rotate-center {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
  }
	100% {
		-webkit-transform: rotate(360deg);
						transform: rotate(360deg);
	}
}

.top-nav__desktop-link::after {
	background-color: $fourth-color;
	content: '';
	display: block;
	height: 0.125rem;
	transition: width .3s;
	width: 0;
	position: absolute;
	top: 53px;
}

.top-nav__desktop-link:hover::after {
	transition: width .3s;
	width: 100%;
}

.top-nav__desktop-link:hover {

	a.top-nav__anchor {
		color: $ninth-color
	}

	.rotate-center {
		-webkit-animation: rotate-center 0.6s ease-out both;
	        animation: rotate-center 0.6s ease-out both;	
	}
}

.top-nav-control {
	display: flex;
}
