<section class="about-us ed-grid">
    <h2 class="about-us__heading underline-title">About ABC Islands</h2>
    <section class="about-us__content">
        <article class="about-us__content__item">
            <div class="about-us__content__section">
                <h3 class="about-us__content__section--heading underline-title">Who we are</h3>
                <p class="about-us__content__section--text">ABC Islands has been operating for over 25 years. You can expect the best sports markets, live wagering, custom props builder, game feeds - the best sports betting exerience online. Over 5,000 casino games, 30+ providers - the best online gambling experience is at your fingertips. Horses, Poker, Live dealers and so much more!</p>
                <a class="about-us__content__section--anchor primary-button primary-button__join-first" href="#">join now</a>
            </div>
            <img class="about-us__content__section--img" src="assets/img/about-us-01.png" alt="">
            <div class="about-us__content__item__mobileButton">
                <a class="primary-button primary-button__join-first" href="#">join now</a>
            </div>
        </article>
        <article class="about-us__content__item">
            <div class="about-us__content__section">
                <h3 class="about-us__content__section--heading underline-title">Who we are</h3>
                <p class="about-us__content__section--text">ABC Islands has been operating for over 25 years. You can expect the best sports markets, live wagering, custom props builder, game feeds - the best sports betting exerience online. Over 5,000 casino games, 30+ providers - the best online gambling experience is at your fingertips. Horses, Poker, Live dealers and so much more!</p>
                <a class="about-us__content__section--anchor primary-button primary-button__join-first" href="#">join now</a>
            </div>
            <img class="about-us__content__section--img" src="assets/img/about-us-01.png" alt="">
            <div class="about-us__content__item__mobileButton">
                <a class="primary-button primary-button__join-first" href="#">join now</a>
            </div>
        </article>
        <article class="about-us__content__item">
            <div class="about-us__content__section">
                <h3 class="about-us__content__section--heading underline-title">Who we are</h3>
                <p class="about-us__content__section--text">ABC Islands has been operating for over 25 years. You can expect the best sports markets, live wagering, custom props builder, game feeds - the best sports betting exerience online. Over 5,000 casino games, 30+ providers - the best online gambling experience is at your fingertips. Horses, Poker, Live dealers and so much more!</p>
                <a class="about-us__content__section--anchor primary-button primary-button__join-first" href="#">join now</a>
            </div>
            <img class="about-us__content__section--img" src="assets/img/about-us-01.png" alt="">
            <div class="about-us__content__item__mobileButton">
                <a class="primary-button primary-button__join-first" href="#">join now</a>
            </div>
        </article>
    </section>
</section>