<div class="acc-pay-bon-rules ed-grid">
	<div class="acc-pay-bon-rules__content">
		<h2 class="acc-pay-bon-rules__heading underline-title">Account, payouts and bonuses</h2>
		<div class="accordion-container ed-grid">
			<div class="accordion v1">
				<div class="a-container">
					<p class="a-btn">Account Deposits<span></span></p>
					<div class="a-panel">
            <ul>
              <li>1.1. When you open an Account, we may require you to make a minimum deposit in order to participate in the Services. Once you have deposited, you can then wager up to the amount available in your Account.</li>
              <li>1.2. You will not be able to make a deposit until your name, address and date of birth have been verified.</li>
              <li>1.3. You can make deposits into your Account by accessing the ‘cashier’ option in the Website.</li>
              <li>1.4. You must ensure that the payment method you use is registered in your name. We will assume that you are complying with this requirement, and we accept no liability where this is not the case.</li>
              <li>1.5. We may use third party payment service providers (“PSPs”) to process deposits and withdrawals from your Account. You authorize us to use PSPs, as necessary, to process transactions.</li>
              <li>1.6. We are not a bank or financial institution, and the balance held in your Account will not earn interest in your favor. We do not offer any credit facilities.</li>
              </ul>
					</div>
				</div>
				<div class="a-container">
					<p class="a-btn">Payouts<span></span></p>
					<div class="a-panel">
            <ul>
              <li>1.7. You may withdraw your own real money deposits and winnings held in your Account at any time, provided that:</li>
              <li>1.7.1 all payments made into your Account have been confirmed as cleared and have not been charged-back, reversed or otherwise cancelled;</li>
              <li>1.7.2. we have completed any verification to our reasonable satisfaction. Where we have requested information from you to carry out the verification, any delay in providing this information may cause an additional delay when withdrawing funds; and</li>
              <li>1.7.3. there is currently no ongoing investigation:</li>
              <li>a) into a Service defect involving a Service on which you have played/wagered and which requires a temporary freeze on withdrawal of funds; or</li>
              <li>b) where we have reason to believe you may have engaged in an illegal or Prohibited Practice which could entitle us to withhold funds</li>
              <li>1.8. Please note the following:</li>
              <li>1.8.1. wherever possible, we will process your withdrawals using the same payment method you used to make your deposits. Where we are unable to do so, we may contact you to request alternative payment details from you.</li>
              <li>1.8.2. Withdrawal payments may only be made in the name of and to the registered Account holder.</li>
            </ul>
					</div>
				</div>
				<div class="a-container">
					<p class="a-btn">Bonuses<span></span></p>
					<div class="a-panel">
            <ul>
              <li>Bonus Policy</li>
            </ul>
            <p>We may offer bonuses and special offers from time to time (including but not limited to games bonuses, Free Play, free spins) which are subject to this Bonus Policy, the User Agreement (as applicable to you), and any promotion-specific terms and conditions made available to you (“Promotion Terms”). In the event of a conflict between the terms set in the Bonus Terms and Conditions, the Terms of Service and/or the Promotion Terms (to the extent that the terms apply to a bonus or special offer), the following order of priority shall apply: (i) Promotions Terms; (ii) Bonus Terms and Conditions; (iii) Terms of Service.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
