<div class="accordion-component ed-grid">
	<div class="accordion-component__content">
		<h2 class="accordion-component__heading underline-title">Lorem ipsum</h2>
		<div class="accordion-container ed-grid">
			<div class="accordion v1">
				<div class="a-container">
					<p class="a-btn">Lorem<span></span></p>
					<div class="a-panel">
						<h3>Lorem.</h3>
						<ul>
							<li>Team totals for the second half include overtime.</li>
							<li>4th quarter lines do not include overtime.</li>
							<li>Double result pools consist of the winner of the 1st half and the winner of the game.</li>
							<li>1st scoring play and margin of victory pools include overtime. Double result pools include overtime only in REGULAR SEASON.</li>
							<li>In the event that the Super Bowl date and/or venue is changed due to severe weather conditions, all existing open bets on the game and on the game's related bets (props) will be considered action and stand until the game is played.</li>
						</ul>
						<p>* 2nd Half and each quarter must be completed in full to be considered action.</p>
						<p>Teams must play all 16 regular season games for action, if a game ties it will be considered half a win for each team.</p>
						<p>* 2nd half bets always include overtime.</p>
						<h3>Lorem.</h3>
						<ul>
							<li>
								Team totals for the second half include
								overtime.
							</li>
							<li>4th quarter lines do not include overtime.</li>
							<li>
								Double result pools consist of the winner of the
								1st half and the winner of the game.
							</li>
							<li>
								1st scoring play and margin of victory pools
								include overtime. Double result pools include
								overtime only in REGULAR SEASON.
							</li>
						</ul>
						<p>
							* 2nd Half and each quarter must be completed in
							full to be considered action.
						</p>
						<p>* 2nd half bets always include overtime.</p>
					</div>
				</div>
				<div class="a-container">
					<p class="a-btn">lorem<span></span></p>
					<div class="a-panel">
						<h3>Lorem.</h3>
						<ul>
							<li>
								Team totals for the second half include
								overtime.
							</li>
							<li>4th quarter lines do not include overtime.</li>
							<li>
								Double result pools consist of the winner of the
								1st half and the winner of the game.
							</li>
							<li>
								Both double result and margin of victory pools
								include overtime.
							</li>
						</ul>
						<p>* 2nd half bets always include overtime.</p>
					</div>
				</div>
				<div class="a-container">
					<p class="a-btn">lorem<span></span></p>
					<div class="a-panel">
						<ul>
							<li>
								Games are official after 5 innings of play
								unless the home team is winning after 4 and a
								half innings.
							</li>
							<li>
								After 5 innings of play, if the game is called
								or suspended, the final score (for wagering
								purposes) is determined by the last full inning
								of play unless the home team scores to tie or
								takes the lead in the bottom half of the inning.
								In which case, the winner is determined by the
								score when the game is called.
							</li>
							<li>
								Regular Season Games that are suspended or
								postponed do not carry over to the following
								day. However, for MLB PostSeason, World Baseball
								Classic (WBC) Final and Semi Finals games that
								are suspended or postponed, bets will carry over
								until the game is ruled final.
							</li>
							<li>
								College World Series games that are suspended
								are considered to be in a long rain delay and
								will be graded when the game reaches its
								official ending.
							</li>
							<li>
								Scheduled 7 Inning MLB Games: For Runline
								(Spread) and Total (over/under) wagers to have
								action, the game must go 7 innings or
								6&Acirc;&frac12; if the home team is winning.
							</li>
							<li>
								On Mexican Baseball games for action on RUN
								LINES &amp; TOTALS games must go at least 8.5
								innings if the home team is winning.
							</li>
							<li>
								Exhibition games shall be nine inning games or
								they may be shortened to seven-inning games or
								five-inning games upon mutual agreement of both
								managers. Shortened games will be treated as
								rain shortened games.
							</li>
						</ul>
						<h3>Baseball liLorem.</h3>
						<p>
							Baseball games can be wagered three different ways:
							Money Line, Run Line and Totals. For the Totals and
							Run Lines we use a 20 cent line. The favorite has
							the negative number next to it showing the price you
							have to lay to play that side and the underdog
							almost always has a positive number next to it
							showing the price you would win by playing it. Below
							is an example of a typical baseball game.
						</p>

						<table border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td>Mets - Hampton</td>
									<td>-134 9ov -105</td>
								</tr>
								<tr>
									<td>Marlins - Dempster</td>
									<td>+124 9un -115</td>
								</tr>
							</tbody>
						</table>
						<ul>
							<li>
								If you want to place a $100 wager on the Mets,
								you would be risking $134 to win $100.
							</li>
							<li>
								If you want to place a $100 wager on the
								Marlins, you would risk $100 to win $124.
							</li>
							<li>
								If you want to place a $100 wager on over 9
								runs, you would risk $105 to win $100.
							</li>
							<li>
								If you want to place a $100 wager on under 9
								runs, you would risk $115 to win $100.
							</li>
						</ul>
						<p>
							When betting Baseball Money Lines you can chose the
							following options for your
							wagers:&nbsp;<strong>ACTION</strong>,&nbsp;<strong
								>LISTED PITCHERS (LP)</strong
							>,&nbsp;<strong
								>YOUR TEAM&apos;S PITCHER (PT)</strong
							>
							or&nbsp;<strong>OPPOSING PITCHER (TP)</strong>.
						</p>
						<p>
							NOTE: The starting pitchers are determined after the
							first pitch. In the event of a pitching change prior
							to the game, the money price may be adjusted and
							your bet may change if you play with action.
						</p>
						<dl>
							<dt>Action:</dt>
							<dd>
								Your wager is team against team regardless of
								who the starting pitchers are. In case of a
								pitching change, your price will be adjusted to
								the opening number of the actual starting
								pitcher.
							</dd>
							<dt>Listed Pitchers (LP):</dt>
							<dd>
								Your wager is predicated on both listed pitchers
								throwing at least one pitch for you to have
								action. Both pitchers must start in order for
								you to have action on your wager, otherwise the
								bet will be declared NO ACTION after the game is
								final.
							</dd>
							<dt>Your team&apos;s Pitcher (PT):</dt>
							<dd>
								You are only taking the listed pitcher of the
								team you are wagering on. The pitcher selected
								must start the game for your wager to count. Any
								pitcher can start for the opposing team. In case
								of a pitching change on the opposing team, the
								price will still adjust to the opening price of
								the actual starters.
							</dd>
							<dt>Opposing Pitcher (TP):</dt>
							<dd>
								You are listing the opposing team&apos;s
								pitcher. Any starter can pitch for the team you
								selected. The opposing team&apos;s pitcher has
								to start. In the case of a pitching change on
								your team, the price will be adjusted to the
								opening price of the actual pitchers.
							</dd>
						</dl>
						<p>
							The other way to wager on a baseball game is to bet
							the run-line. Every favorite will be - 1 1/2 runs
							and could either be plus or minus money.
						</p>
						<p>
							Below is an example of what a run-line looks like.
						</p>
						<table border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td>Mets - Hampton</td>
									<td>+1 1/2 +115</td>
								</tr>
								<tr>
									<td>Marlins - Dempster</td>
									<td>-1 1/2 -135</td>
								</tr>
							</tbody>
						</table>
						<p>
							If you wager $100 on the Mets, you have the Mets
							minus 1 1/2 runs risking $100 to win $115. If you
							wager $100 on the Marlins, you have the Marlins plus
							1 1/2 runs risking $135 to win $100.
						</p>
						<p>
							<strong
								>When wagering on Total Runs (over/under) and
								Run Lines (run spread)</strong
							>
							the game must go 9 innings (8 1/2 if the home team
							is winning). If the game is suspended after 9
							innings, the final score (for wagering purposes) is
							determined by the last full inning of play unless
							the home team scores to tie or takes the lead in the
							bottom half of the inning. In which case, the winner
							is determined by the score when the game is called.
							If with this rules the game is a TIE, Run Lines and
							Totals count. All wagers on Total Runs and Run Lines
							are ALWAYS with Listed Pitchers (LP). If both
							pitchers scheduled to pitch at the time of the wager
							do not throw at least one pitch then the wager will
							be cancelled. Wagers on Total Runs and Run Lines are
							refunded in the event of a pitching change when the
							game is final.
						</p>
						<p>
							We do NOT accept Parlays, If Bets or Round Robins
							with the same game&apos;s Total and Run Line. Any
							wager of such type can be cancelled by us without
							prior notice.
						</p>
						<p>
							<strong>RAIN or SHINE Rule:</strong> Baseball Props
							including 1st Score, Yes/No Score in 1st inning, 1st
							5 inning line are graded as soon as that event
							occurs. For 1st 5 inning line the game must go into
							the 6th inning of play for action. Bets are final
							even if the game gets rained out or suspended.
						</p>
						<p>
							For any Player prop, the game must be completed
							in-full to have action. Games that are scheduled for
							7 Innings only and are completed (6.5 if home team
							is winning) are considered completed.
						</p>
						<p>
							<strong>2ND HALF LINES:</strong> 2nd half baseball
							score includes from the top of the 6th inning till
							the end of the game including extra innings. The
							game must be completed for action (9 full innings or
							8.5 innings if the home team is winning). All wagers
							on the 2nd half lines are action regardless of the
							pitcher. If Games are suspended and MORE than 9
							innings have been played the score will revert back
							to the last COMPLETE inning.
						</p>
						<p>
							<strong
								>For baseball props and Alternate Runlines and
								Halves</strong
							>, ALL listed pitchers must go. On the player to get
							most total bases, the following scoring system is
							used: Single = 1 base, Double = 2 bases, Triple = 3
							bases, HR = 4 bases. Both players + starting
							pitchers must start for action. On Pool events ALL
							PLAYERS ARE ACTION unless otherwise specified.
							Baseball props can be used for Straight bets,
							Parlays, If Bets and/or Round Robins (NO TEASERS) as
							long as the other Team in such wagers does not
							belong to the same Family. Any wagers within the
							same Family (OR PROPS USED IN TEASERS) will be
							cancelled by us without prior notice.
						</p>
						<p>
							<strong>Baseball Series:</strong> Baseball Series
							are games played between two teams (Regular Season
							Only). Neither team can play any other opponent
							between the scheduled games in the series. The
							following are the main rules used to grade the
							Baseball Series:
						</p>
						<ul>
							<li>
								All games in a series count towards wager. In a
								four game series 2-2 is a tie.
							</li>
							<li>
								A series is considered action if one game has
								been played.
							</li>
							<li>
								If a game during the series is called, this game
								will be considered good for the series as long
								as one of the teams is officially declared the
								winner of the game.
							</li>
							<li>
								All wagers are based on ACTION in regard to the
								pitchers in each games.
							</li>
							<li>
								A suspended game from a previous series that is
								completed is not considered part of the current
								series.
							</li>
							<li>
								These rules may differ from other sportsbooks.
							</li>
						</ul>
						<p>
							So if a series starts on Friday and ends on Monday,
							it will be graded out on Monday, with all games
							counting towards the result.
						</p>
						<p>
							<strong>College World Series games</strong> (all
							college baseball games) that are suspended are
							considered to be in a long rain delay and will be
							graded when the game reaches its official ending.
						</p>
						<p>
							<strong>For the World Baseball Classic (WBC)</strong
							>, during the first two rounds of play, both sides
							and totals have action regardless of the Mercy Rule.
							For the Semi Finals and Final of the WBC, the Mercy
							Rule is not in effect therefore games will follow
							normal playoff rules. In case of discrepancy or
							items not covered, Las Vegas gaming rules will
							apply.
						</p>
						<p>
							<strong>Totals, Runs, Hits and Errors:</strong> A
							game must go 8 and a half innings if home team is
							winning, or 9 if the road team is winning for
							action.
						</p>
						<p>
							<strong>GRAND SALAMI</strong> For grand salami
							wagers, every game on the board has to go the full 9
							innings (81/2 if the home team is winning) otherwise
							it will be cancelled.
						</p>
						<p>
							Pitchers do not matter, meaning that if there is a
							pitching change on any game your bet will still have
							action.
						</p>
						<p>
							For League Grand Salami, it will only take to
							account games played on that specific league,
							example: National League Grand Salami will only
							include games from the National League schedule and
							not National League teams that could be playing on
							Interleague games.
						</p>
						<p>
							<strong
								>** Exception: Playoff baseball games do not
								fall under the suspended game rule in accordance
								to Major League Baseball guidelines to finish
								all games. If a game is suspended due to weather
								or darkness all bets will remain pending until
								the game is declared final.</strong
							>
						</p>
						<h3>Softball and Little LeaLorem.</h3>
						<p>
							Softball or little league game ending early as a
							result of a mercy rule will have action on all
							wagers (unless otherwise noted). If a game is
							suspended or postponed due to weather or darkness
							all bets will remain pending until the game is
							final.
						</p>
						<p>
							NCAA regular season Softball --- Games ending early
							as a result of a mercy rule will have action on all
							wagers (unless otherwise noted). If a game is
							suspended or postponed due to weather or darkness
							all bets will be considered NO ACTION
						</p>
						<p>
							NCAA Post season --- Games ending early as a result
							of a mercy rule will have action on all wagers
							including TOTALS (unless otherwise noted). If a game
							is suspended or postponed due to weather or darkness
							all bets will remain pending until the game is
							final.
						</p>
						<p>
							Little League Baseball --- Games ending early as a
							result of a mercy rule will have action on all
							wagers including TOTALS (unless otherwise noted). If
							a game is suspended or postponed due to weather or
							darkness all bets will remain pending until the game
							is final.
						</p>
					</div>
				</div>
				<div class="a-container">
					<p class="a-btn">lorem<span></span></p>
					<div class="a-panel">
						<h3>HocLorem.</h3>
						<ul>
							<li>
								Games are official after 55 minutes of play.
							</li>
							<li>
								Wagering will be accepted using the Goal line
								(Puck line), Money line (3 way line) or Total
								Goals Scored (over/under) in the game by both
								teams.
							</li>
							<li>
								We offer two types of Hockey games:
								<ol>
									<li>
										<strong>COMPLETE GAME RESULT:</strong>
										MONEY LINE, PUCK LINE &amp; TOTAL. The
										game must be played to completion. In
										the event of a game being decided in
										overtime or a penalty shootout, then one
										goal will be added to the winning
										team&acirc;&euro;&trade;s score.
									</li>
									<li>
										<strong
											>60 MINUTE RESULT/REGULATION
											TIME:&nbsp;</strong
										>MONEY LINE, PUCK LINE &amp; TOTAL. This
										wager will be graded after regulation
										time and&nbsp;<strong
											>DOES NOT include Overtime or
											Shootouts goals.</strong
										>
										Any GOALS scored in overtime or in the
										shootouts DO NOT count towards any wager
										in the 60 Minute Result/Regulation Time)
									</li>
								</ol>
							</li>
							<li>
								We differentiate the games by adding (REGULATION
								TIME) to the leagues that are going to be handle
								this way.
							</li>
						</ul>
						<p>Below is an example of a typical Hockey game.</p>
						<table border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td>Penguins</td>
									<td>-145 5.5 -150</td>
								</tr>
								<tr>
									<td>Sharks</td>
									<td>+125 5.4 +130</td>
								</tr>
							</tbody>
						</table>
						<table border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td>GL Penguins</td>
									<td>-1 1/2 +130</td>
								</tr>
								<tr>
									<td>GL Sharks</td>
									<td>+1 1/2 -150</td>
								</tr>
							</tbody>
						</table>
						<ul>
							<li>
								If you want to place a $100 wager on the
								Penguins, you would be risking $145 to win $100
							</li>
							<li>
								If you want to place a $100 wager on the Sharks,
								you would risk $100 to win $125.
							</li>
							<li>
								If you want to place a $100 wager on over 5.5
								goals, you would risk $150 to win $100.
							</li>
							<li>
								If you want to place a $100 wager on under 5.5
								goals, you would risk $100 to win $130.
							</li>
							<li>
								If you want to place a $100 wager on GL Penguins
								-1 1/2 goals, you would risk $100 to win $130.
							</li>
							<li>
								If you want to place a $100 wager on GL Sharks
								+1 1/2 goals, you would risk $150 to win $100.
							</li>
						</ul>
						<p>
							<strong>Example of a Shootout game:</strong> A game
							goes into overtime with a score of Team A 3 and Team
							B 3 (tied 3-3) and no team scores in the Overtime
							period. The winner of the shootouts will be awarded
							a goal making the final score Team A 4 and Team B 3.
							With this result the total for both teams combined
							will be 7. Any 60 MINUTE RESULT wagers will be
							decided with the 60 minute result of 3-3 tie.
						</p>
						<ul>
							<li>
								<strong>Hockey Props</strong> including 1st
								Score, 1 Period line are graded as soon as that
								event occurs. Bets are final even if the game
								gets suspended.
							</li>
							<li>
								<strong>On player props</strong>, both players
								must play in the game for action. On Pool
								events&nbsp;<strong
									>ALL PLAYERS ARE ACTION</strong
								>
								unless otherwise specified. On Pool
								events&nbsp;<strong
									>ALL PLAYERS ARE ACTION</strong
								>
								unless otherwise specified. Hockey props can be
								used for Straight bets, Parlays, If Bets and/or
								Round Robins (NO TEASERS) as long as the other
								Team in such wagers does not belong to the same
								Family. Any wagers within the same Family (OR
								PROPS USED IN TEASERS) will be cancelled by us
								without prior notice.
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
