<section class="banking-layout">
	<div class="ed-container">
		<div class="ed-item">
      <h2 class="underline-title">Lorem, ipsum</h2>
			<div class="banking-tabs-container">
				<ul class="banking-tabs-container__tabs" role="tablist" id="tabs">
					<li class="banking-tabs-container__tab is-active" role="tab">Deposit</li>
					<li class="banking-tabs-container__tab" role="tab">withdrawal</li>
				</ul>
				<div class="banking-tabs-container__panels">
					<div class="ed-grid s-grid-1 m-grid-2 l-grid-3 banking-tabs-container__panel is-active" role="tabpanel">
						<div class="banking-tabs-container__panel__content">
              <div class="banking-tabs-container__item">
                <div class="banking-tabs-container__contentImg">
                  <img class="banking-tabs-container__img" src="assets/img/banking-crypto.svg" alt="bitcoin, bitcoin cash, litecoin, dash, ethereum"/>
                </div>
                <p class="banking-tabs-container__subtitle" href="login.html">Lorem ipsum</p>
              </div>
              <div class="banking-tabs-container__item">
                <div class="banking-tabs-container__contentImg">
                  <img class="banking-tabs-container__img" src="assets/img/banking-p2p.svg" alt="p2p"/>
                </div>
                <p class="banking-tabs-container__subtitle" href="login.html">Lorem ipsum</p>
              </div>
              <div class="banking-tabs-container__item">
                <div class="banking-tabs-container__contentImg">
                  <img class="banking-tabs-container__img" src="assets/img/banking-card.svg" alt="visa"/>
                </div>
                <p class="banking-tabs-container__subtitle" href="login.html">Lorem ipsum</p>
              </div>
            </div>
            <div class="banking-tabs-container__list">
              <h3 class="underline-title">Lorem ipsum</h3>
              <ul class="banking-layout__list">
                <li class="banking-layout__list__item">- Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, neque tenetur earum deserunt obcaecati vel saepe quo quasi voluptatibus sed libero accusantium quaerat in aliquam aperiam qui, tempora pariatur animi.</li>
                <li class="banking-layout__list__item">- Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate blanditiis, dolorem impedit pariatur officiis minus porro nisi. Veritatis numquam, accusantium, pariatur laudantium totam veniam debitis ducimus.</li>
                <li class="banking-layout__list__item">- Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reprehenderit deleniti vel necessitatibus, temporibus nam quisquam, atque quos rem laudantium inventore recusandae in cupiditate dignissimos.</li>
              </ul>
            </div>
					</div>
					<div class="ed-grid s-grid-1 m-grid-2 banking-tabs-container__panel" role="tabpanel">
            <div class="banking-tabs-container__panel__content">
              <div class="banking-tabs-container__item">
                <div class="banking-tabs-container__contentImg">
                  <img class="banking-tabs-container__img" src="assets/img/banking-crypto.svg" alt="bitcoin, bitcoin cash, litecoin, dash, ethereum"/>
                </div>
                <p class="banking-tabs-container__subtitle" href="login.html">Lorem ipsum</p>
              </div>
              <div class="banking-tabs-container__item">
                <div class="banking-tabs-container__contentImg">
                  <img class="banking-tabs-container__img" src="assets/img/banking-p2p.svg" alt="p2p"/>
                </div>
                <p class="banking-tabs-container__subtitle" href="login.html">Lorem ipsum</p>
              </div>
            </div>
            <div class="banking-tabs-container__list">
              <h3 class="underline-title">Lorem ipsum</h3>
              <ul class="banking-layout__list">
                <li class="banking-layout__list__item">- Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, neque tenetur earum deserunt obcaecati vel saepe quo quasi voluptatibus sed libero accusantium quaerat in aliquam aperiam qui, tempora pariatur animi.</li>
                <li class="banking-layout__list__item">- Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate blanditiis, dolorem impedit pariatur officiis minus porro nisi. Veritatis numquam, accusantium, pariatur laudantium totam veniam debitis ducimus.</li>
                <li class="banking-layout__list__item">- Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reprehenderit deleniti vel necessitatibus, temporibus nam quisquam, atque quos rem laudantium inventore recusandae in cupiditate dignissimos.</li>
              </ul>
            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
