<div class="bonus-banner__container">
  <div class="ed-grid">  
    <h3 class="bonus-banner__container-heading underline-title">Lorem ipsum dolor</h3>
  </div>
  <div class="ed-grid s-grid-1 m-grid-2 rows-gap">
    <div class="promotions-banner s-cols-1 m-cols-2">
      <a href="refer-a-friend.html">
        <div class="promotions-banner__content">
          <div class="promotions-banner__info">
            <h3 class="promotions-banner__info__title banner-text-style">Lorem, ipsum.</h3>
            <div class="promotions-banner__info__subtitle">
              <p class="promotions-banner__info__subtitle_paragraph">Lorem</p>
              <i class="promotions-banner__info__subtitle_icon fas fa-chevron-right"></i>
              <p class="promotions-banner__info__subtitle_paragraph">Lorem</p>
              <i class="promotions-banner__info__subtitle_icon fas fa-chevron-right"></i>
              <p class="promotions-banner__info__subtitle_paragraph">Lorem</p>
            </div>
          </div>
          <div class="promotions-banner__img">
            <img src="assets/img/promotions-banner-img.png" alt="">
          </div>
        </div>
      </a>
      
    </div>
    <div class="bonus-banner">
      <a href="#">
        <div class="bonus-banner__content">
          <div class="bonus-banner__info">
            <h3 class="bonus-banner__info__title banner-text-style">
              <span class="bonus-banner__info__number">100%</span>
              welcome bonus
            </h3>
            <div class="bonus-banner__info__subtitle">
              <p class="bonus-banner__info__subtitle_paragraph">Lorem ipsum</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="bonus-banner">
      <a href="#">
        <div class="bonus-banner__content">
          <div class="bonus-banner__info">
            <h3 class="bonus-banner__info__title banner-text-style">
              <span class="bonus-banner__info__number">100%</span>
              welcome bonus
            </h3>
            <div class="bonus-banner__info__subtitle">
              <p class="bonus-banner__info__subtitle_paragraph">Lorem ipsum</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>