<div class="bonus-component ed-grid">
  <h2 class="bonus-component__heading underline-title">Lorem ipsum</h2>
  <ul class="bonus-component__steps">
    <li class="bonus-component__steps__item">Lorem <span><i class="fa-regular fa-chevron-right"></i></span></li>
    <li class="bonus-component__steps__item">Lorem <span><i class="fa-regular fa-chevron-right"></i></span></li>
    <li class="bonus-component__steps__item">Lorem</li>
  </ul>
  <ul class="bonus-component__list">
    <li class="bonus-component__list_item">Lorem ipsum dolor</li>
    <li class="bonus-component__list_item">Lorem ipsum dolor</li>
    <li class="bonus-component__list_item">Lorem ipsum dolor</li>
    <li class="bonus-component__list_item">Lorem ipsum dolor</li>
  </ul>
</div>