<div class="casino-banner">
    <div class="casino-banner__container ed-grid">
        <div class="casino-banner__content">
            <img class="casino-banner__content__img" src="assets/img/background-banners-01.png" alt="">
            <div class="casino-banner__info ed-grid s-grid-2 l-grid-2" >
                <div class="casino-banner__info__heading">
                    <h1 class="casino-banner__info__heading--title">Casino bonuses Lorem, ipsum dolor.</h1>  
                </div>
                <picture class="casino-banner__info__img">
                    <source media="(min-width: 700px)" srcset="assets/img/casino-banner-desktop.png" type="">
                    <img src="assets/img/casino-banner-mobile.png" alt="">
                </picture>
            </div>
        </div>
    </div>
</div>
