<section class="casino-games ed-grid">
    <div class="casino-games__cards">
        <article class="casino-games__cards__card">
            <img class="casino-games__cards__card--img" src="assets/img/casino-games-slider.png" alt="Image of a casino game">
            <p class="casino-games__cards__card--title">Lorem ipsum</p>
        </article>
        <!-- <article class="casino-games__cards__card">
            <img class="casino-games__cards__card--img" src="assets/img/casino-games-slider.png" alt="Image of a casino game">
            <p class="casino-games__cards__card--title">Lorem ipsum</p>
        </article>
        <article class="casino-games__cards__card">
            <img class="casino-games__cards__card--img" src="assets/img/casino-games-slider.png" alt="Image of a casino game">
            <p class="casino-games__cards__card--title">Lorem ipsum</p>
        </article> -->
    </div>
    <div class="casino-games__button">
        <a href="#" class="primary-button primary-button__join-first">join now</a>
    </div>
</section>