<section class="casino-rules ed-grid">
	<div class="casino-rules__content">
		<div class="accordion-container ed-grid">
			<div class="accordion v1">
				<div class="a-container">
					<p class="a-btn">casino rules<span></span></p>
					<div class="a-panel">
            <h3>Casino rules</h3>
            <p>The Casino reserves the right to cancel your account for any reason whatsoever at any time without notice to you. Any balance in your account at the time of such cancellation may be credited to you, however, the Casino reserves the right, in its unfettered discretion, to void any winnings and confiscate any balance in your casino account in any circumstances including:</p>
            <ol>
              <li>If there is evidence to suggest that you have more than one active account for the Casino.</li>
              <li>If the name on your Casino account does not match the name on the credit card(s) used to make deposits on your Casino account.</li>
              <li>If you participate in a Casino promotion and cash-in before fulfilling the requirements of that particular promotion.</li>
              <li>If you provide incorrect or misleading registration, account or identification information.</li>
              <li>If you have allowed or permitted (intentionally or unintentionally) someone else to play on your Casino account.</li>
              <li>If the Player has not played at the Casino on an individual basis for personal entertainment only (that is, you have played in a professional sense or in concert with other player(s) as part of a club, group, etc.)</li>
              <li>If you are found cheating or if it is determined by the Casino that you have employed or made use of a system (including machines, computers, software or other automated systems) designed specifically to defeat the Casino.</li>
              <li>If you have been designated as a bonus abuser, playing no or low-risk strategies to withdraw promotional money such as stacking bonuses.</li>
              <li>Any winnings that were earned as a result of either system malfunction, or game error will be void.</li>
              <li>Every player will have parameters set for max winnings and losses related to their action in our casino. Players may not earn more than $5000 per day or $ 10,000 per week per provider, once this happens the provider will be suspended for the rest of the week. In case of having the provider suspended for this period, players will be able to access our other casino provider options. In addition, players may not lose more than $ 30,000 daily or weekly, if applicable, the same provider suspension will be applied for said period. Weekly calculations are held from Monday (00:00 AM to Sunday (11:59 PM).</li>
              <li>The limits are put into action the moment the casino bet exceeds the established parameter. This means that the result of the last bet will be taken into account for the final balance and activation of the provider limit.</li>
              <li>In case of requiring custom limits, please contact our support.</li>
            </ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
