<div class="casino-banner">
    <div class="casino-banner__container ed-grid">
        <div class="casino-banner__content">
            <div class="casino-banner__info ed-grid s-grid-1 l-grid-2" >
                <div class="casino-banner__info__paragraph s-order-2 m-order-2 l-order-1 lg-order-1">
                    <div class="casino-banner__info__heading banner-text-style">
                        <div class="casino-banner__info__text">
                            <span class="casino-banner__info__heading--caption">View</span>
                            <p class="casino-banner__info__heading--title">Casino bonuses</p> 
                        </div>
                        <div class="casino-banner__info__text">
                            <span class="casino-banner__info__heading--caption">and</span>
                            <p class="casino-banner__info__heading--title">promotions</p> 
                        </div>
                    </div>
                </div>
                <picture class="s-order-1 m-order-1 l-order-2 lg-order-2 casino-banner__info__img">
                    <img src="assets/img/casino-banner-img.png" alt="">
                </picture>
            </div>
        </div>
    </div>
</div>
