<section class="class-casino ed-grid">
    <h2 class="class-casino__title underline-title">Best in Class Casino</h2>
    <div class="class-casino__content ed-grid s-grid-1 l-grid-2">
        <div class="class-casino__content__hover">
            <picture class="class-casino__content__hover_img">
                <source media="(min-width: 600px)" srcset="assets/img/class-casino-desktop.png" type="">
                <img src="assets/img/class-casino-mobile.png" alt="">
            </picture>
            <div class="class-casino__content__hover__info">
                <h2 class="class-casino__content__hover__info_heading">Lorem ipsum dolor sit</h2>
                <p class="class-casino__content__hover__info_text">Lorem ipsum dolor sit.</p>
            </div>
        </div>
        
        <div class="class-casino__content-info">
            <div class="class-casino__content__item">
                <img src="assets/img/icons/tournaments-icon.png" alt="">
                <div class="class-casino__content__text">
                    <h3 class="class-casino__content__title">Lorem ipsum</h3>
                    <p class="class-casino__content__paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, at. amet consectetur adipisicing elit. Officia, dignissimos.</p>
                </div> 
            </div>
            <div class="class-casino__content__item">
                <img src="assets/img/icons/live-games-icon.png" alt="">
                <div class="class-casino__content__text">
                    <h3 class="class-casino__content__title">Lorem ipsum</h3>
                    <p class="class-casino__content__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, dignissimos.</p>
                </div> 
            </div>
            <div class="class-casino__content__item">
                <img src="assets/img/icons/live-dealers-icon.png" alt="">
                <div class="class-casino__content__text">
                    <h3 class="class-casino__content__title">Lorem ipsum</h3>
                    <p class="class-casino__content__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, dignissimos.</p>
                </div> 
            </div>
        </div>
    </div>
    <p class="class-casino__text">To view all providers and games</p>
    <div class="class-casino__button">
        <a href="#" class="secondary-button">Log In</a>
    </div>
</section>