<div class="account-banner">
    <div class="account-banner__content ed-grid">
        <h2 class="underline-title">Lorem ipsum dolor.</h2>
        <div class="account-banner__info">
            <picture class="account-banner__info__img">
                <source media="(min-width: 1000px)" srcset="assets/img/account-banner-desktop.png" type="">
                <img src="assets/img/account-banner-mobile.png" alt="">
            </picture>
            <div class="account-banner__info__content">
                <div class="account-banner__steps">
                    <div class="account-banner__steps__item">
                        <p class="account-banner__steps__item--number">01</p>
                        <p class="account-banner__steps__item--text">Lorem, ipsum.</p>
                    </div>
                    <div class="account-banner__steps__item">
                        <p class="account-banner__steps__item--number">02</p>
                        <p class="account-banner__steps__item--text">Lorem, ipsum.</p>
                    </div>
                    <div class="account-banner__steps__item">
                        <p class="account-banner__steps__item--number">03</p>
                        <p class="account-banner__steps__item--text">Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <p class="account-banner__info__text element-centered">Lorem ipsum dolor sit.</p>
                <div class="account-banner__button">
                    <a href="#" class="primary-button primary-button__join-first">join now</a>
                </div>
            </div>
        </div>
    </div>
</div>