<footer class="footer">
	<div class="footer__content ed-grid">
		<div class="footer__content__header">
			<img class="footer__content__header-logo" src="assets/img/Logotipo ABC.svg" alt="abc logo">
			<div class="footer__content__social">
				<img class="footer__content__social-curacao" src="assets/img/logo-curacao.png" alt="curacao egaming">
				<a href="https://twitter.com/betabcislands" target="_blank">
					<img class="footer__content__social-twitter" src="assets/img/social-twitter-icon.png" alt="twitter link">
				</a>
			</div>
		</div>
		<div class="footer__nav ed-grid s-grid-2 l-grid-4">
			<div class="footer__nav__section">
				<h3 class="footer__nav__heading">abc islands</h3>
				<ul class="footer__nav__list">
					<li class="footer__nav__list-item"><a href="sportbook.html">online sportbook</a></li>
					<li class="footer__nav__list-item"><a href="casino.html">online casino</a></li>
					<li class="footer__nav__list-item"><a href="racebook.html">racebook</a></li>
					<li class="footer__nav__list-item"><a href="poker.html">poker</a></li>
					<li class="footer__nav__list-item"><a href="about-us.html">About us</a></li>
				</ul> 
			</div>
			<div class="footer__nav__section">
				<h3 class="footer__nav__heading">general</h3>
				<ul class="footer__nav__list">
					<li class="footer__nav__list-item"><a href="banking-options.html">banking options</a></li>
					<li class="footer__nav__list-item"><a href="bonuses-promotions.html">bonuses & promotions</a></li>
					<li class="footer__nav__list-item"><a href="#">sportsbook agent admin</a></li>
					<li class="footer__nav__list-item"><a href="privacy-policy.html">privacy policy</a></li>
					<li class="footer__nav__list-item"><a href="sitemap.html">site map</a></li>
				</ul>
			</div>
			<div class="footer__nav__section">
				<h3 class="footer__nav__heading">Rules</h3>
				<ul class="footer__nav__list">
					<li class="footer__nav__list-item"><a href="house-rules.html">House rules</a></li>
					<li class="footer__nav__list-item"><a href="sport-rules.html">sport rules</a></li>
					<li class="footer__nav__list-item"><a href="poker-rules.html">poker rules</a></li>
					<li class="footer__nav__list-item"><a href="casino-rules.html">casino rules</a></li>
					<li class="footer__nav__list-item"><a href="general-terms.html">general terms</a></li>
					<li class="footer__nav__list-item"><a href="terms-conditions.html">terms & conditions</a></li>
					<li class="footer__nav__list-item"><a href="account-payouts-bonuses.html">account, payouts and bonuses</a></li>
				</ul>
			</div>
			<div class="footer__nav__section">
				<h3 class="footer__nav__heading">Regulatory</h3>
				<ul class="footer__nav__list">
					<li class="footer__nav__list-item"><a href="responsible-gaming.html">responsible gaming</a></li>
					<li class="footer__nav__list-item"><a href="self-exclusion.html">self-exclusion</a></li>
					<li class="footer__nav__list-item"><a href="claims-arbitration.html">claims & arbitration</a></li>
					<li class="footer__nav__list-item"><a href="anti-laundering.html">anti laundering</a></li>
					<li class="footer__nav__list-item"><a href="fair-gaming-rng.html">fair gaming & rng</a></li>
					<li class="footer__nav__list-item"><a href="know-your-customer.html">know your customer</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer__rights">
		<div class="footer__rights__container ed-grid">
			<p class="footer__rights__text">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, voluptatum. Iusto enim, perspiciatis voluptatem quam illum laudantium ullam nostrum velit.
			</p>
		</div>
	</div>
</footer>