<div class="general-terms ed-grid">
	<div class="general-terms__content">
		<h2 class="general-terms__heading underline-title">Terms</h2>
		<div class="accordion-container ed-grid">
			<div class="accordion v1">
				<div class="a-container">
					<p class="a-btn">Understands The Importance Of Protecting Your Data<span></span></p>
					<div class="a-panel">
            <p>We pledge to you our full-time commitment to safeguard your personal information and navigational data, in accordance with the best online business practices and applicable international law.</p>
					</div>
				</div>
				<div class="a-container">
					<p class="a-btn">By Registering Your Account At Abcislands Online Casino<span></span></p>
					<div class="a-panel">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit excepturi asperiores eum eaque, omnis natus quod tempora quis nihil. Est perferendis velit libero consequatur totam ipsa maiores mollitia error corporis.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
