<section class="hero-slider">
	<div class="hero-slider__first ed-grid s-grid-1 m-grid-2">
		<picture class="hero-slider__first__img m-order-2">
			<source media="(min-width: 600px)" srcset="assets/img/home-slider-desktop-01.png">
			<img src="assets/img/home-slider-mobile-01.png" alt="">
		</picture>
		<div class="hero-slider__content">
			<div class="hero-slider__first-info">
				<h1 class="hero-slider__first-info--title">Sportsbook</h1>
				<p class="hero-slider__first-info--text">The Players’ Paradise | get up to $1,000 on your first deposit</p>
			</div> 
			<div class="hero-slider__first-btn">
				<a href="login.html" class="primary-button primary-button__join-first">Join now </a>
			</div>
		</div>
	</div>
	<!-- <div class="hero-slider__first ed-grid s-grid-1 m-grid-2">
		<picture class="hero-slider__first__img m-order-2">
			<source media="(min-width: 600px)" srcset="assets/img/home-slider-desktop-01.png">
			<img src="assets/img/home-slider-mobile-01.png" alt="">
		</picture>
		<div class="hero-slider__content">
			<div class="hero-slider__first-info">
				<h1 class="hero-slider__first-info--title">Sportsbook</h1>
				<p class="hero-slider__first-info--text">The Players’ Paradise | get up to $1,000 on your first deposit</p>
			</div> 
			<div class="hero-slider__first-btn">
				<a href="#" class="primary-button primary-button__join-first">Join now </a>
			</div>
		</div>
	</div>
	<div class="hero-slider__first ed-grid s-grid-1 m-grid-2">
		<picture class="hero-slider__first__img m-order-2">
			<source media="(min-width: 600px)" srcset="assets/img/home-slider-desktop-01.png">
			<img src="assets/img/home-slider-mobile-01.png" alt="">
		</picture>
		<div class="hero-slider__content">
			<div class="hero-slider__first-info">
				<h1 class="hero-slider__first-info--title">Sportsbook</h1>
				<p class="hero-slider__first-info--text">The Players’ Paradise | get up to $1,000 on your first deposit</p>
			</div> 
			<div class="hero-slider__first-btn">
				<a href="#" class="primary-button primary-button__join-first">Join now </a>
			</div>
		</div>
	</div> -->
</section>