<div class="track-listing ed-grid">
    <section class="track-listing__content">
        <h2 class="track-listing__title underline-title">track listing and information</h2>
        <table class="track-listing__table">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>rebate</th>
                <th>w/p/s limits</th>
                <th>gimmicks limits</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>a tracks</td>
                <td>7%</td>
                <td>$1,000</td>
                <td>$100</td>
            </tr>
            <tr>
                <td>b tracks</td>
                <td>4%</td>
                <td>$250</td>
                <td>$50</td>
            </tr>
            <tr>
                <td>c tracks</td>
                <td>1%</td>
                <td>$100</td>
                <td>$20</td>
            </tr>
            <tr>
                <td>greyhound</td>
                <td>1%</td>
                <td>$100</td>
                <td>$20</td>
            </tr>
            <tr>
                <td>international</td>
                <td>4%</td>
                <td>$250</td>
                <td>$50</td>
            </tr>
            <tbody>
        </table>
    </section>
</div>