<section class="horses-rebate ed-grid">
    <h2 class="horses-rebate__heading underline-title">up to 2% horse rebate no rollovers</h2>
    <p class="horses-rebate__text">There are no minimum daily volume requirements and there is no maximum on how much you can earn. It doesn't matter if you win or lose, we will credit you a rebate based on your volume and track categories:</p>
    <table class="horses-rebate__table">
        <caption>ABC Islands Rebate</caption>
        <thead>
        <tr>
            <th>A Tracks</th>
            <th>B Tracks</th>
            <th>C Tracks</th>
            <th>Greyhound</th>
            <th>International</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>7%</td>
            <td>4%</td>
            <td>4%</td>
            <td>1%</td>
            <td>4%</td>
        </tr>
        </tbody>
    </table>
    <ul class="horses-rebate__list ed-grid">
        <li class="horse-rebate__list__item">No rebate will be given on cancelled wagers or wagers refunded due to a scratch.</li>
        <li class="horse-rebate__list__item">No rebate will be given on payouts of $2.10 and $2.20.</li>
        <li class="horse-rebate__list__item">No rebate will be given on Pick 3.</li>
        <li class="horse-rebate__list__item">Important Note: Rebate only applies to wagers placed through the horse wagering interface (Racebook).</li>
        <li class="horse-rebate__list__item">It does not apply to any matchups, props or other wagers made through the sportsbook login.</li>
        <li class="horse-rebate__list__item">The 7% rebate bonus will be paid daily.</li>
    </ul>
</section>