<div class="horse-layout">
	<div class="horse-layout__container">
		<div class="horse-layout__container--content">
			<section class="horse-layout__racebook racebookExternal">
				<div class="horse-layout__racebook--warning">
					<p class="ed-grid">If you have any questions, please contact us: csd@abcislands.ag COVID-19 For available track list please download here.</p>
					<button class="primary-button third-button horse-layout__racebook--button">View full track list</button>
				</div>
			</section>
			<div class="ed-container open horse-layout__open-table">
				<div class="ed-item">
					<div class="horse-layout-container">
						<ul class="tabs-container__tabs horse-layout__tabs--ul" id="tabs-horses">
							<li class="tabs-container__tab is-active">Pista A</li>
							<li class="tabs-container__tab">Pista B</li>
							<li class="tabs-container__tab">Pista C</li>
							<li class="tabs-container__tab">Hipodromo</li>
							<li class="tabs-container__tab">international</li>
						</ul>
						<div class="tabs-container__panels">
							<div class="tabs-container__panel is-active">
								<div class="horse-layout__racebook--container-table">
									<table class="horse-layout__racebook--table horse-layout__racebook--table2 main-table">
										<colgroup>
											<col class="horse-layout__racebook-table-col">
											<col class="horse-layout__racebook-table-col">
										</colgroup>
										<thead class="horse-layout__racebook-table--thead">
											<tr class="horse-layout__racebook-table--tr">
												<th scope="col" class="horse-layout__racebook-table--th-bold">PISTA A</th>
												<th scope="col" class="horse-layout__racebook-table--th-bold">zona</th>
												<th scope="col" class="horse-layout__racebook-table--th-bold">tipo</th>
											</tr>
										</thead>
										<tbody class="horse-layout__racebook-table--body">
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">aqueduct</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Belmont Park</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Churchill Downs</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Del Mar</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Delaware Park</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Fair Grounds Thoroughbred</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Golden Gate Fields</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Gulfstream Park</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Keeneland</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Kentucky Downs</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
	
							<div class="tabs-container__panel">					
								<div class="horse-layout__racebook--container-table">
									<table class="horse-layout__racebook--table horse-layout__racebook--table2 main-table">
										<colgroup>
											<col class="horse-layout__racebook-table-col">
											<col class="horse-layout__racebook-table-col">
										</colgroup>
										<thead class="horse-layout__racebook-table--thead">
											<tr class="horse-layout__racebook-table--tr">
												<th scope="col" class="horse-layout__racebook-table--th-bold">PISTA B</th>
												<th scope="col" class="horse-layout__racebook-table--th-bold">zona</th>
												<th scope="col" class="horse-layout__racebook-table--th-bold">tipo</th>
											</tr>
										</thead>
										<tbody class="horse-layout__racebook-table--body">
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Canterbury Park</td>
												<td class="horse-layout__racebook-table--td">CST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Charles Town</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Dover Downs</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Harness</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Ellis Park</td>
												<td class="horse-layout__racebook-table--td">CST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Freehold Raceway</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Harness</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Harrington Raceway</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Harness</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Laurel Park</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Lone Star Park</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Louisiana Downs Thoroughbred</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Los Alamitos</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="tabs-container__panel">					
								<div class="horse-layout__racebook--container-table">
									<table class="horse-layout__racebook--table horse-layout__racebook--table2 main-table">
										<colgroup>
											<col class="horse-layout__racebook-table-col">
											<col class="horse-layout__racebook-table-col">
										</colgroup>
										<thead class="horse-layout__racebook-table--thead">
											<tr class="horse-layout__racebook-table--tr">
												<th scope="col" class="horse-layout__racebook-table--th-bold">PISTA C</th>
												<th scope="col" class="horse-layout__racebook-table--th-bold"></th>
												<th scope="col" class="horse-layout__racebook-table--th-bold"></th>
											</tr>
										</thead>
										<tbody class="horse-layout__racebook-table--body">
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Arapahoe Park</td>
												<td class="horse-layout__racebook-table--td">MST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Australia A</td>
												<td class="horse-layout__racebook-table--td">-</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Australia B</td>
												<td class="horse-layout__racebook-table--td">-</td>
												<td class="horse-layout__racebook-table--td">Harness</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Ellis Park</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Belterra</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Harness</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Harrington Raceway</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Harness</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Delta Downs</td>
												<td class="horse-layout__racebook-table--td">PST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Fair Grounds QTR</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Fairmount Park</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Finger Lakes</td>
												<td class="horse-layout__racebook-table--td">EST</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="tabs-container__panel">					
								<div class="horse-layout__racebook--container-table">
									<table class="horse-layout__racebook--table horse-layout__racebook--table2 main-table">
										<colgroup>
											<col class="horse-layout__racebook-table-col">
										</colgroup>
										<thead class="horse-layout__racebook-table--thead">
											<tr class="horse-layout__racebook-table--tr">
												<th scope="col" class="horse-layout__racebook-table--th-bold">Hipodromo</th>
												<th scope="col" class="horse-layout__racebook-table--th-bold">zona</th>
											</tr>
										</thead>
										<tbody class="horse-layout__racebook-table--body">
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Derby Lane Evening</td>
												<td class="horse-layout__racebook-table--td">CST</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Derby Lane Matinee</td>
												<td class="horse-layout__racebook-table--td">EST</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Jacksonville Park Evening</td>
												<td class="horse-layout__racebook-table--td">EST</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Jacksonville Park Matinee</td>
												<td class="horse-layout__racebook-table--td">CST</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Palm Beach Evening</td>
												<td class="horse-layout__racebook-table--td">EST</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Palm Beach Matinee</td>
												<td class="horse-layout__racebook-table--td">EST</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Southland Evening</td>
												<td class="horse-layout__racebook-table--td">EST</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Southland Matinee</td>
												<td class="horse-layout__racebook-table--td">EST</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Wheeling Downs Evening</td>
												<td class="horse-layout__racebook-table--td">EST</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Wheeling Downs Matinee</td>
												<td class="horse-layout__racebook-table--td">EST</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="tabs-container__panel">					
								<div class="horse-layout__racebook--container-table">
									<table class="horse-layout__racebook--table horse-layout__racebook--table2 main-table">
										<colgroup>
											<col class="horse-layout__racebook-table-col">
											<col class="horse-layout__racebook-table-col">
										</colgroup>
										<thead class="horse-layout__racebook-table--thead">
											<tr class="horse-layout__racebook-table--tr">
												<th scope="col" class="horse-layout__racebook-table--th-bold">Internacional</th>
												<th scope="col" class="horse-layout__racebook-table--th-bold">zona</th>
												<th scope="col" class="horse-layout__racebook-table--th-bold">tipo</th>
											</tr>
										</thead>
										<tbody class="horse-layout__racebook-table--body">
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Ascot Racecourse</td>
												<td class="horse-layout__racebook-table--td">UK</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Ayr</td>
												<td class="horse-layout__racebook-table--td">UK</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Ballinrobe</td>
												<td class="horse-layout__racebook-table--td">ireland</td>
												<td class="horse-layout__racebook-table--td">Harness</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Bangor-on-Dee</td>
												<td class="horse-layout__racebook-table--td">UK</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Bath</td>
												<td class="horse-layout__racebook-table--td">UK</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Bellewstown</td>
												<td class="horse-layout__racebook-table--td">ireland</td>
												<td class="horse-layout__racebook-table--td">Harness</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Beverley</td>
												<td class="horse-layout__racebook-table--td">UK</td>
												<td class="horse-layout__racebook-table--td">Harness</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Brighton</td>
												<td class="horse-layout__racebook-table--td">UK</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Carlisle</td>
												<td class="horse-layout__racebook-table--td">UK</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
											<tr class="horse-layout__racebook-table--tr">
												<td class="horse-layout__racebook-table--td">Cartmel</td>
												<td class="horse-layout__racebook-table--td">UK</td>
												<td class="horse-layout__racebook-table--td">Thoroughbred</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
