<div class="accordion-wrapper ed-grid">
	<div class="accordion-container ed-grid">
		<div class="accordion v1">
			<div class="a-container">
				<p class="a-btn">House rules<span></span></p>
				<div class="a-panel">
					<table class="house-rules__table">
						<thead>
						<tr>
							<th># Rule</th>
							<th>Clarification</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>1</td>
							<td>All rules, regulations and payoffs contained herein are subject to changes and revisions by Abcislands without prior written notice.</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>7</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>8</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>9</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>10</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>11</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>12</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>13</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>14</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>15</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>16</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>17</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>18</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>19</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>20</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>21</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>22</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>23</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>24</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>25</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>26</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>27</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>28</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tr>
							<td>29</td>
							<td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum non cum pariatur quibusdam aspernatur neque commodi enim ex temporibus sunt corrupti vel recusandae dolores eum at deleniti ut, alias modi!</td>
						</tr>
						<tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>