<section class="info-component ed-grid">
    <div class="info-component__heading">
        <h2 class="info-component__title underline-title">Lorem, ipsum dolor.</h2>
    </div>
    <p class="info-component__paragraph text-centered">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut error ipsa hic culpa labore magni impedit adipisci. Non perferendis dolore cumque dolorum, sed odit at reiciendis accusamus iusto, blanditiis necessitatibus!</p>
    <div class="info-component__button element-centered">
        <a href="#" class="primary-button primary-button__join-first">join now</a>
    </div>
</section>