<div class="modalmask" id="modal1">
	<div class="modalbox movedown">
		<a href="#close" title="Close" class="close">
			<span class="material-symbols-outlined">
				cancel
			</span>
		</a>
		<div class="sign-in__container">
			<img class="sign-in__img" src="assets/img/Logotipo ABC.svg" alt="">
			<h3 class="sign-in__title">User Login</h3>
			<form action="" class="sign-in__form">
				<div class="sign-in__email">
					<label for="email">Username or Email</label>
					<input type="text" name="email" id="email">
				</div>
				<div class="sign-in__password">
					<label for="email">Password</label>
					<input type="text" name="email" id="email">
				</div>
				<button class="sign-in__btn" type="submit">Login</button>
				<input type="checkbox" name="remember" id="remember">
				<label for="remember">Remember me</label>
				<a href="#">Forgot your password?</a>
			</form>
			<p>Copyright © 2022, Agent Site V2</p>
		</div>
	</div>
</div>
