<div class="log-in__wrapper">
  <div class="log-in__wrapper__img">
    <img src="assets/img/img-player-login.png" alt="">
  </div>
  <div class="log-in__container">
    <img class="log-in__img" src="assets/img/Logotipo ABC.svg" alt="">
    <h3 class="log-in__title">User Login</h3>
    <form action="" class="log-in__form">
      <div class="log-in__email">
        <label for="email">Username or Email</label>
        <input type="text" name="email" id="email">
      </div>
      <div class="log-in__password">
        <label for="email">Password</label>
        <input type="text" name="email" id="email">
      </div>
      <button class="log-in__btn" type="submit">Login</button>
      <div class="log-in__remember">
        <div class="log-in__remember__checked">
          <input type="checkbox" name="remember" id="remember">
          <label for="remember">Remember me</label>
        </div>
        <a class="log-in__forgotpass" href="#" target="_blank">Forgot your password?</a>
      </div>
    </form>
    <a class="log-in__create" href="#" target="_blank">Don't have an account? Click here.</a>
    <p class="log-in__copy">Copyright © 2022, Agent Site V2</p>
  </div>
</div>

