<nav class="bottom-nav">
    <div class="bottom-nav__container">
        <ul class="bottom-nav__bar">
            <li class="bottom-nav__li">
                <a href="login.html" class="bottom-nav__anchor">
                    <img class="bottom-nav__anchor__img" src="assets/img/icons/user-login-icon.svg" alt="">
                    <span class="bottom-nav__anchor__text">Login</span>
                </a>
            </li>
            <li class="bottom-nav__li">
                <a href="#" class="bottom-nav__anchor">
                    <img class="bottom-nav__anchor__img" src="assets/img/icons/user-register-icon.svg" alt="">
                    <span class="bottom-nav__anchor__text">Register</span>
                </a>
            </li>
            <li class="bottom-nav__li">
                <button type='button', class='top-nav__mb-iconMenu hamburger hamburger--slider-r' aria-label="Menu">
                    <span class='hamburger-box' >
                        <span class='hamburger-inner'></span>
                    </span>
                </button>
                <span class="bottom-nav__anchor__text">Promo</span>
            </li>
        </ul>
    </div>
    <div class="main_menu active">
        <button class="main_menu-close"><i class="fa-solid fa-x"></i></button>
        <div class="cont_menu">
            <span>menu</menu>
        </div>
    </div>
</nav>


  

  