<nav class="bottom-nav">
    <div class="bottom-nav__container">
        <ul class="bottom-nav__bar">
            <li class="bottom-nav__li">
                <a href="about-us.html" class="bottom-nav__anchor">
                    <img class="bottom-nav__anchor__img" src="assets/img/icons/abc-short-logo.png" alt="">
                    <span class="bottom-nav__anchor__text">why abc islands</span>
                </a>
            </li>
            <li class="bottom-nav__li">
                <a href="#" class="bottom-nav__anchor">
                    <img class="bottom-nav__anchor__img" src="assets/img/icons/promo-icon.png" alt="">
                    <span class="bottom-nav__anchor__text">Promo</span>
                </a>
            </li>
            <li class="bottom-nav__li">
                <a href="#" class="bottom-nav__anchor bottom-nav__anchor--button">
                    <span class="bottom-nav__anchor__text">Join now</span>
                </a>
            </li>
            <li class="bottom-nav__li">
                <a href="#" class="bottom-nav__anchor">
                    <img class="bottom-nav__anchor__img" src="assets/img/icons/refer-friend.png" alt="">
                    <span class="bottom-nav__anchor__text">Refer a friend</span>
                </a> 
            </li>
            <li class="bottom-nav__li">
                <a href="#" class="bottom-nav__anchor">
                    <img class="bottom-nav__anchor__img" src="assets/img/icons/live-support.png" alt="">
                    <span class="bottom-nav__anchor__text">live support</span>
                </a> 
            </li>
        </ul>
    </div>
</nav>