<div class="promotions">
	<section class="promotions-container ed-grid">
		<h2 class="promotions-container__title underline-title">Featured Promotions</h2>
		<div class="promotions-content ed-grid s-grid-1 m-grid-1 l-grid-3 lg-grid-3 row-gap l-big-section">
			<div class="promotions-content__cards">
				<div class="promotions-content__cards--img">
					<img src="assets/img/icons/jet-icon.png" alt="">
				</div>
				<p class="promotions-content__cards--title">Bet n' jet</p>
			</div>
			<div class="promotions-content__cards">
				<div class="promotions-content__cards--img">
					<img src="assets/img/icons/first-place-icon.png" alt="">
				</div>
				<p class="promotions-content__cards--title">First bet rebate</p>
			</div>
			<div class="promotions-content__cards">
				<div class="promotions-content__cards--img">
					<img src="assets/img/icons/cards-icon.png" alt="">
				</div>
				<p class="promotions-content__cards--title">Casino</p>
			</div>
		</div>
		<div class="promotions-container__btn">
			<a href="#" class="secondary-button">View all bonuses & promotions</a>
		</div>
	</section>
</div>