<div class="promotions-banner__container ed-grid">
  <h3 class="promotions-banner__container-heading underline-title">Lorem ipsum</h3>
  <a href="#">
    <div class="promotions-banner ed-grid">
      <div class="promotions-banner__content">
        <div class="promotions-banner__info">
          <h3 class="promotions-banner__info__title banner-text-style">Lorem, ipsum.</h3>
          <div class="promotions-banner__info__subtitle">
            <p class="promotions-banner__info__subtitle_paragraph">Lorem</p>
            <i class="promotions-banner__info__subtitle_icon fas fa-chevron-right"></i>
            <p class="promotions-banner__info__subtitle_paragraph">Lorem</p>
            <i class="promotions-banner__info__subtitle_icon fas fa-chevron-right"></i>
            <p class="promotions-banner__info__subtitle_paragraph">Lorem</p>
          </div>
        </div>
        <div class="promotions-banner__img">
          <img src="assets/img/promotions-banner-img.png" alt="">
        </div>
      </div>
    </div>
  </a>
</div>
