<div class="refer-friend ed-grid">
  <h2 class="refer-friend__heading underline-title">Lorem ipsum</h2>
  <p class="refer-friend__subtitle">Lorem ipsum dolor</p>

  <div class="refer-friend__info ed-grid s-grid-1 l-grid-3">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis odio minus tempore autem asperiores. Est dolores at, laborum iusto officiis omnis, possimus et delectus dicta consequuntur aliquam officia nostrum saepe.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quia, rerum velit facilis ducimus, ex dolorem ad nam cupiditate modi provident. Quia iste quidem sapiente quaerat fuga quisquam voluptatem cum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ratione laborum reprehenderit quaerat sapiente facere quis soluta nam sed? Aliquam dolor cum voluptatibus hic praesentium amet id reiciendis? Possimus, quas?</p>
  </div>
</div>

<div class="refer-friend ed-grid">
  <h2 class="refer-friend__heading underline-title">Lorem ipsum</h2>
  <ul class="refer-friend__list">
    <li class="refer-friend__list_item">Lorem ipsum dolor</li>
    <li class="refer-friend__list_item">Lorem ipsum dolor</li>
    <li class="refer-friend__list_item">Lorem ipsum dolor</li>
    <li class="refer-friend__list_item">Lorem ipsum dolor</li>
  </ul>
</div>