<div class="reload-banner__container">
  <div class="ed-grid">  
    <h3 class="reload-banner__container-heading underline-title">Lorem ipsum dolor</h3>
  </div>
  <div class="ed-grid s-grid-1 m-grid-2 rows-gap">
    <div class="bonus-banner">
      <a href="#">
        <div class="bonus-banner__content">
          <div class="bonus-banner__info">
            <h3 class="bonus-banner__info__title banner-text-style">
              <span class="bonus-banner__info__number">100%</span>
              welcome bonus
            </h3>
            <div class="bonus-banner__info__subtitle">
              <p class="bonus-banner__info__subtitle_paragraph">Lorem ipsum</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="reload-banner">
      <a href="#">
        <div class="reload-banner__content">
          <div class="reload-banner__info">
            <div class="banner-text-style">
              <h3 class="reload-banner__info__title">
                <span class="reload-banner__info__number">100%</span>
                CASH BONUS &
              </h3>
              <h3 class="reload-banner__info__title">
                <span class="reload-banner__info__number">100%</span>
                FREE PLAY REBATE
              </h3>
            </div>
            <div class="reload-banner__info__subtitle">
              <p class="reload-banner__info__subtitle_paragraph">Lorem ipsum</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>