<div class="slider-games__container">
    <div class="slider-games ed-grid">
        <h2 class="slider-games__title underline-title">Looking for something else?</h2>
        <section class="slider-games__content">
            <div class="slider-games__card">
                <picture class="slider-games__card__img">
                    <source media="(min-width: 700px)" srcset="assets/img/poker-slider-games-desktop.png" type="">
                    <img src="assets/img/poker-slider-games-mobile.png" alt="">
                </picture>
                <div class="slider-games__card__info">
                    <p class="slider-games__card__info_title">Lorem</p>
                    <!-- <p class="slider-games__card__info_subtitle">Lorem ipsum</p> -->
                </div>
            </div>
            <div class="slider-games__card">
                <picture class="slider-games__card__img">
                    <source media="(min-width: 700px)" srcset="assets/img/poker-slider-games-desktop.png" type="">
                    <img src="assets/img/poker-slider-games-mobile.png" alt="">
                </picture>
                <div class="slider-games__card__info">
                    <p class="slider-games__card__info_title">Lorem</p>
                    <p class="slider-games__card__info_subtitle">Lorem ipsum</p>
                </div>
            </div>
        </section>
    </div>
</div>