<div class="sports">
    <section class="sports-container ed-grid">
        <h2 class="sports-container__title underline-title">Sports betting markets</h2>
        <div class="sports-cards">
            <div class="sports-cards__card">
                <div class="sports-cards__card__info">
                    <img class="sports-cards__card__info_img" src="assets/img/nfl.png" alt="">
                    <h2 class="sports-cards__card__info_title">nfl</h2>
                </div>
                <div class="sports-cards__card__hover">
                    <h2 class="sports-cards__card__hover_heading">nfl</h2>
                    <p class="sports-cards__card__hover_text">Lorem ipsum dolor sit.</p>
                    <a class="sports-cards__card__hover_anchor" href="login.html">login</a>
                </div>
            </div>
            <div class="sports-cards__card">
                <div class="sports-cards__card__info">
                    <img class="sports-cards__card__info_img" src="assets/img/nfl.png" alt="">
                    <h2 class="sports-cards__card__info_title">nfl</h2>
                </div>
                <div class="sports-cards__card__hover">
                    <h2 class="sports-cards__card__hover_heading">nfl</h2>
                    <p class="sports-cards__card__hover_text">Lorem ipsum dolor sit.</p>
                    <a class="sports-cards__card__hover_anchor" href="login.html">login</a>
                </div>
            </div>
            <div class="sports-cards__card">
                <div class="sports-cards__card__info">
                    <img class="sports-cards__card__info_img" src="assets/img/nfl.png" alt="">
                    <h2 class="sports-cards__card__info_title">nfl</h2>
                </div>
                <div class="sports-cards__card__hover">
                    <h2 class="sports-cards__card__hover_heading">nfl</h2>
                    <p class="sports-cards__card__hover_text">Lorem ipsum dolor sit.</p>
                    <a class="sports-cards__card__hover_anchor" href="login.html">login</a>
                </div>
            </div>
            <div class="sports-cards__card">
                <div class="sports-cards__card__info">
                    <img class="sports-cards__card__info_img" src="assets/img/nfl.png" alt="">
                    <h2 class="sports-cards__card__info_title">nfl</h2>
                </div>
                <div class="sports-cards__card__hover">
                    <h2 class="sports-cards__card__hover_heading">nfl</h2>
                    <p class="sports-cards__card__hover_text">Lorem ipsum dolor sit.</p>
                    <a class="sports-cards__card__hover_anchor" href="login.html">login</a>
                </div>
            </div>
        </div>
        <p class="sports-container__text">To see Live Wagering, Custom Prop Bets, and more</p>
        <div class="sports-container__button">
            <a href="login.html" class="primary-button primary-button__join-first">login</a>
        </div>
    </section>
</div>