<div class="sports">
    <section class="sports-container ed-grid">
        <h2 class="sports-container__title underline-title">Sports betting markets</h2>
        <div class="sports-cards">
            <div class="sports-cards__card">
                <img class="sports-cards__card--img" src="assets/img/nfl.png" alt="">
                <p class="sports-cards__card--title">nfl</p>
            </div>
            <div class="sports-cards__card">
                <img class="sports-cards__card--img" src="assets/img/nba.png" alt="">
                <p class="sports-cards__card--title">nba</p>
            </div>
            <div class="sports-cards__card">
                <img class="sports-cards__card--img" src="assets/img/nhl.png" alt="">
                <p class="sports-cards__card--title">nhl</p>
            </div>
            <div class="sports-cards__card">
                <img class="sports-cards__card--img" src="assets/img/mlb.png" alt="">
                <p class="sports-cards__card--title">mlb</p>
            </div>
            <div class="sports-cards__card">
                <img class="sports-cards__card--img" src="assets/img/soccer.png" alt="">
                <p class="sports-cards__card--title">soccer</p>
            </div>
            <div class="sports-cards__card">
                <img class="sports-cards__card--img" src="assets/img/college-foot.png" alt="">
                <p class="sports-cards__card--title">college football</p>
            </div>
        </div>
        <p class="sports-container__text">To see Live Wagering, Custom Prop Bets, and more</p>
        <div class="sports-container__button">
            <a href="#" class="secondary-button">Create Account</a>
        </div>
    </section>
</div>