<div class="general-terms ed-grid">
	<div class="general-terms__content">
		<h2 class="general-terms__heading underline-title">Terms & conditions</h2>
		<div class="accordion-container ed-grid">
			<div class="accordion v1">
				<div class="a-container">
					<p class="a-btn">General conditions<span></span></p>
					<div class="a-panel">
						<ul>
							<li>You must be at least 21 years old.</li>
							<li>You agree that you want to participate in Internet wagering and do not find it objectionable or offensive.</li>
							<li>You and your computer are located in an area where Internet wagering is not illegal according to any local, state, provincial or federal laws.</li>
							<li>International law is very complex, and we do not know the specific laws that may apply to you where you live. We operate under strict compliance with all local laws, and urge you access our site only if you feel that you are in compliance with yours.</li>
							<li>You are solely responsible for keeping your ABC Islands Casino & Sportsbook Password and ID Number secret and confidential, and any unauthorized use shall be your responsibility.</li>
							<li>You agree not to allow any minor to view or participate in any aspects of this site or network operations.</li>
							<li>You accept full responsibility for your own actions.</li>
							<li>You accept and agree that all computer instructions and responses sent over the Internet to and from ABC Islands Casino & Sportsbook in connection with using ABC Islands Casino & Sportsbook, will be binding.</li>
							<li>Each time you place a bet, you confirm and accept the way ABC Islands Casino & Sportsbook software operates.</li>
							<li>ABC Islands Casino & Sportsbook reserves the right to refuse or limit any wager and you cannot bet more than what is in your ABC Islands Casino & Sportsbook account.</li>
							<li>You agree that the ABC Islands Casino & Sportsbook software is the property of ABC Islands Casino & Sportsbook and will not modify or attempt to decipher, decompile, disassemble or reverse engineer the software, or create derivative works based on it.</li>
							<li>ABC Islands Casino & Sportsbook reserves the right to withhold payment of winnings should evidence or suspicion of any tampering with ABC Islands Casino & Sportsbook software make itself known.</li>
							<li>ABC Islands Casino & Sportsbook reserves the right to withhold payment of winning should evidence of multiple accounts be proved. We allow 1 account per person, household or I.P address unless otherwise specifically permitted by ABC Islands Casino & Sportsbook.</li>
							<li>You are required to have the necessary funds in your ABC Islands Casino & Sportsbook account to satisfy any withdrawals you request from your account. If your account is credited with funds that are not received by ABC Islands Casino & Sportsbook, the company reserves the right to, and will, withhold all winnings you earned from the time such funds were credited to your account.</li>
							<li>ABC Islands Casino & Sportsbook reserves the right to cancel any wagers placed via Internet on games 15 minutes after they have started due to software error or software manipulation.</li>
							<li>Documentation and proof of ID may be required at any time for payouts upon management’s request, if fake or tampered documents are sent, Abc Islands reserves the right to close the account and seize the funds.</li>
							<li>In order to be eligible for ANY bonus, players are expected to redeposit any funds previously withdrawn, also known as the make-up figure. The granting of any exceptions to this rule are sole competence of management.</li>
						</ul>
            <p>We pledge to you our full-time commitment to safeguard your personal information and navigational data, in accordance with the best online business practices and applicable international law.</p>
					</div>
				</div>
				<div class="a-container">
					<p class="a-btn">By Registering Your Account At <span></span></p>
					<div class="a-panel">
						<h3>BONUSES TERMS AND CONDITIONS</h3>
            <ul>
							<li>Any deposit by credit card can receive a max bonus of 10%.</li>
							<li>Anonymous accounts can ONLY deposit/withdraw via crypto and request a max 25% Free Play Bonus.</li>
							<li>All bonus plans apply ONLY for sports and online casino.</li>
							<li>Any player not taking a bonus must rollover their deposit plus fees at least once before a payout can be made.</li>
							<li>The requirements vary depending on the bonuses and the player is responsible to inquire as to the restrictions that come with the bonus they are accepting.</li>
							<li>For the 100% Free Play bonus the maximum wager amount is $500.</li>
							<li>For the 150% Free Play bonus the maximum wager amount is $250.</li>
							<li>Free Play: it allows you to place free plays with no risk at all. Whenever you win a Free Play wager, the winnings will become cash and available in your sports account. Remember you can ONLY place straight bets on the four major sports (NFL,NBA,MLB,NHL) with your Free Play bonus.</li>
							<li>Sports Free Play (such as the First Bet Rebate) can only be used on straight wagers for major sports markets within the +150 to -150 odds threshold.</li>
							<li>    o Ex. You cannot use a free play on a +3000 line or create a 5 team parlay with free play.</li>
							<li>Cannot use Sports Free play in Horses, Casino, Live Casino, Poker, or any other products other than the Sportsbook.</li>
							<li>    o Vice Versa. Casino free play cannot be used in Poker or Horses or Sports, etc.</li>
							<li>If you are a new customer and receive a complementary casino spin, you will have a max cash-out of $50. If you decide to fund your account with a deposit, the max cash-out is eliminated.</li>
							<li>Rollover: The rollover requirement includes the sum of the deposit and awarded bonuses, multiplied by the rollover number for that particular bonus plan. Example: Deposit of $300 with a 10% Bonus. (Deposit of $300 + 10% Bonus of $30 = $330 X 4 = $1320 in wagers needed).</li>
							<li>Horses, live casino, and any other Casino Games will not contribute action towards the rollover.</li>
							<li>The rollover is calculated by using the lesser between the risk or win amount for all wagers.</li>
							<li>In order to properly calculate the rollover of any Casino bonus, please use the following action distribution table:</li>
							</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
