<nav class='top-nav'>
	<div class="top-nav__container ed-grid">
		<a href="/" lass='top-nav__link' aria-label="Betsev">
			<img src="assets/img/Logotipo ABC.svg" alt="" class='top-nav__logo'>
		</a>
		<p class="top-nav__title">The players' paradise</p>
		<div class="top-nav__menu">
			<p class="top-nav__title">The players' paradise</p>
			<ul class='top-nav__menu-list'>
				<li class="top-nav__menu-link"><a href="#" class='top-nav__anchor'><img src="assets/img/icons/ball-icon.svg" alt="">Sportsbook</a></li>
				<li class="top-nav__menu-link"><a href="casino.html" class='top-nav__anchor'><img src="assets/img/icons/chip-poker-icon.svg" alt="">Casino</a></li>
				<li class="top-nav__menu-link"><a href="poker.html" class='top-nav__anchor'><img src="assets/img/icons/poker-card-icon.svg" alt="">Poker</a></li>
				<li class="top-nav__menu-link"><a href="racebook.html" class='top-nav__anchor'><img src="assets/img/icons/horses-icon.svg" alt="">Horses</a></li>
				<li class="top-nav__menu-link"><a href="bonuses-promotions.html" class='top-nav__anchor'><img src="assets/img/icons/promotions-icon.svg" alt="">Promotions</a></li>
				<li class="top-nav__menu-link"><a href="contest.html" class='top-nav__anchor'><img src="assets/img/icons/contest-icon.svg" alt="">Contests</a></li>
				<li class="top-nav__menu-link"><a href="banking.html" class='top-nav__anchor'><img src="assets/img/icons/banking-icon.svg" alt="">Banking</a></li>
			</ul>
			<div class="top-nav__social">
				<a href="#"><img class="top-nav__social__img" src="assets/img/social-twitter-icon.png" alt=""></a>
				<p class="top-nav__social__text">Follow us</p>
			</div>
		</div>
		<div class="top-nav-control">
			<div class="login">
				<a class="login-btn" id='login-icon' href='#modal1'>Login</a>
				<a href="" class="sign-btn">Join</a>
			</div>
			<button type='button', class='top-nav__mb-iconMenu hamburger hamburger--slider-r' aria-label="Menu">
				<span class='hamburger-box' >
					<span class='hamburger-inner'></span>
				</span>
			</button>
		</div>
	</div>
	
	<div class="top-nav__desktop">
		<ul class='top-nav__desktop-list'>
			<li class="top-nav__desktop-link"><a href="#" class='top-nav__anchor'><img src="assets/img/icons/ball-icon.svg" alt="">Sportsbook</a></li>
			<li class="top-nav__desktop-link"><a href="casino.html" class='top-nav__anchor'><img src="assets/img/icons/chip-poker-icon.svg" alt="">Casino</a></li>
			<li class="top-nav__desktop-link"><a href="poker.html" class='top-nav__anchor'><img src="assets/img/icons/poker-card-icon.svg" alt="">Poker</a></li>
			<li class="top-nav__desktop-link"><a href="racebook.html" class='top-nav__anchor'><img src="assets/img/icons/horses-icon.svg" alt="">Horses</a></li>
			<li class="top-nav__desktop-link"><a href="bonuses-promotions.html" class='top-nav__anchor'><img src="assets/img/icons/promotions-icon.svg" alt="">Promotions</a></li>
			<li class="top-nav__desktop-link"><a href="contest.html" class='top-nav__anchor'><img src="assets/img/icons/contest-icon.svg" alt="">Contests</a></li>
			<li class="top-nav__desktop-link"><a href="banking.html" class='top-nav__anchor'><img src="assets/img/icons/banking-icon.svg" alt="">Banking</a></li>
		</ul>
	</div>
</nav>	

