extends ../config/template
append config
	-currentPage			= "Bonuses-promotions"
	-siteName					= 'ABC Islands'
	-content					= 'content'
	-pageDescription	= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'
block main-header
block main-container
	include ../components/hero-slider.html
	include ../components/promotions-banner.html
	include ../components/bonus-banner.html
	include ../components/reload-banner.html
	include ../components/referral-banner.html
block main-footer
block scripts
