extends ../config/template
append config
	-currentPage			= "Contest"
	-siteName					= 'ABC Islands'
	-content					= 'content'
	-pageDescription	= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'
block main-header
block main-container
	include ../components/hero-component.html
	include ../components/handicap-component.html
	include ../components/primary-button.html
	include ../components/current-contests-component.html
	include ../components/previous-contests.html
	include ../components/primary-button.html
	include ../components/contest-banner.html
block main-footer
block scripts
