extends ../config/template
append config
	-currentPage			= "Fair-gaming-rng"
	-siteName					= 'ABC Islands'
	-content					= 'content'
	-pageDescription	= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'
block main-header
block main-container
	include ../components/hero-component.html
	include ../components/accordion-component.html
block main-footer
block scripts
