extends ../config/template
append config
	-currentPage		  = "Log-in"
	-siteName			    = 'ABC Islands'
	-content			    = 'content'
	-pageDescription	= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'
block main-header
block main-container
	include ../components/login-component.html
block main-footer
block scripts
