extends ../config/template
append config
	-currentPage			= "Poker-rules"
	-siteName					= 'ABC Islands'
	-content					= 'content'
	-pageDescription	= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'
block main-header
block main-container
	include ../components/hero-slider.html
	//- include ../components/poker-rules-component.html
	include ../components/accordion-component.html
block main-footer
block scripts
