extends ../config/template-second
append config
	-currentPage			= "Register"
	-siteName					= 'ABC Islands'
	-content					= 'content'
	-pageDescription	= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'
block main-header
block main-container
	
block scripts
