extends ../config/template
append config
	-currentPage			= "forgot-password"
	-siteName					= 'ABC Islands'
	-content					= 'content'
	-pageDescription	= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'
block main-header
block main-container
	<iframe title="forgotPassword" loading="lazy" class="forgot-password" src="https://apuestas.perubet.pe/Inicio/restablecer-contra" width="100%" height="900" frameborder="no"></iframe>
block main-footer
block scripts
