extends ../config/template
append config
	-currentPage		  = "Sportbook"
	-siteName			    = 'ABC Islands'
	-content			    = 'content'
	-pageDescription	= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'
block main-header
block main-container
	include ../components/hero-component.html
	include ../components/slider-games.html
block main-footer
block scripts
