extends ../config/template
append config
	-currentPage		  = "Sportbook"
	-siteName			    = 'ABC Islands'
	-content			    = 'content'
	-pageDescription	= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'
block main-header
block main-container
	include ../components/hero-slider.html
	<iframe class="betslip" src="https://betslip.abcislands.ag/mainbk/betslip" width="100%" height="900" frameborder="no"></iframe>
	include ../components/slider-games.html
block main-footer
block scripts
