//layout
:root {
	--header-height 		: 5rem;
	@include from(l) {
	  --header-height 	: 6rem;
	}
	//native color vars
	--first     	: #FFFFFF;
	--second			: #1B1D29;
	--third			 	: #FDFDFD;
	--fourth			: #B61827;
	--fifth				: #707070;
	--sixth				: #202020;
	--seventh			: #2B2D42;
	--eighth			: #EDF2F4;
	--ninth				: #8D99AE;
	--tenth				: #00000029;
	--eleventh		: #18191E;
	--twelfth			: #F7F7F7;
	--thirteenth	: #9B9B9B;
	--fourteenth	: #BBBBBB;
	--fifteenth		: #DB4911B8;
	--sixteenth		: #739F24;
	--seventeenth	: #F8F9FA;
	--eighteenth	: #748295;
	--nineteenth	: #515666;
	--twenth			: #939393;

	//native box Shadow
	--principal-box-shadow	: 0px 4px 8px rgba(0, 0, 0, 0.25);

	//Background Login Component
	--bg-login-color				: rgba(141, 153, 174, 0.3);

	// Font Family
	--primary-font-motion: 'Motion Control Neue Lite', sans-serif;
	--secondary-font-noto: 'Noto Sans', sans-serif;

	//font sizes
	--font-size-base			:  1rem;   		/*16px */ 
	--font-size-sm				:  0.875rem;  /*14px*/
	--font-size-smaller		:  0.813rem;	/*13px*/

	--font-banner-tiny		:  1.5rem;		/* 24px */
	--font-banner-small		:	 2rem;      /* 32px */
	--font-banner-big			:	 4rem;			/* 64px */

	--h1-mobile						:  2.5rem;    /*40px*/
	--h1-desktop					:	 6rem;    	/*96px*/

	--h2-mobile						:  2rem;    	/*32px*/
	--h2-desktop					:	 2.5rem;		/*40px*/

	--h3-mobile						:  24px; 			/*24px*/
	--h3-desktop					:	 32px; 			/*32px*/

	--font-weight-normal	:	 400;
	--font-weight-bold		:	 700;
  }
  // Sass Color Vars
  $first-color 			: var(--first);
  $second-color			: var(--second);
  $third-color			: var(--third);
  $fourth-color			: var(--fourth);	
  $fifth-color			: var(--fifth);
  $sixth-color			: var(--sixth);
  $seventh-color		: var(--seventh);
  $eighth-color			: var(--eighth);
  $ninth-color			: var(--ninth);
  $tenth-color			: var(--tenth);
  $eleventh-color		: var(--eleventh);
  $twelfth-color		: var(--twelfth);
  $thirteenth-color		: var(--thirteenth);
  $fourteenth-color		: var(--fourteenth);
  $fifteenth-color		: var(--fifteenth);
  $sixteenth-color		: var(--sixteenth);
  $seventeenth-color	: var(--seventeenth);
  $eighteenth-color		: var(--eighteenth);
	$nineteenth-color		: var(--nineteenth);
	$twenth-color				: var(--twenth);

  $bg-linear-one				: var(--seventh);
  $bg-dark-color				: var(--eighth);
  $principal-box-shadow	: var(--principal-box-shadow);
	$bg-login-color				: var(--bg-login-color);
  
  // Fonts SCSS Variables
  $primary-font-motion	: var(--primary-font-motion);
  $secondary-font-noto	: var(--secondary-font-noto);  

	//Font sizes
	$font-size-base				:  var(--font-size-base);
	$font-size-sm					:  var(--font-size-sm);
	$font-size-smaller		:  var(--font-size-smaller);

	$font-banner-tiny			:  var(--font-banner-tiny);
	$font-banner-small		:  var(--font-banner-small);
	$font-banner-big			:  var(--font-banner-big);
	
	$h1-font-size-mobile	:  var(--h1-mobile);
	$h1-font-size-desktop	:  var(--h1-desktop);    	 

	$h2-font-size-mobile	:  var(--h2-mobile);    	
	$h2-font-size-desktop	:  var(--h2-desktop); 

	$h3-font-size-mobile	:  var(--h3-mobile); 		
	$h3-font-size-desktop	:  var(--h3-desktop);   
	
	$font-normal					:  var(--font-weight-normal);     
	$font-bold						:  var(--font-weight-bold); 


	//8
	//16
	//24
	//32
	//40
*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	color: white;
	background: #00CBFF;
}

strong {
	font-weight 	: 700;
}


